#!/bin/bash

source ../common.sh

{% if grabber_aspect == "16x9" %}
exec ffmpeg -i http://10.73.{{ room_number }}.2:1881/{{ grabbersource_url_path | default('vgabroadcaster.mjpg') }} -target pal-dv -loglevel error -aspect 16:9 - | dvsource-file-voc -h "10.73.{{ room_number }}.1" -i 1 -p 2000 /dev/stdin
{% else %}
exec ffmpeg -i http://10.73.{{ room_number }}.2:1881/{{ grabbersource_url_path | default('vgabroadcaster.mjpg') }} -filter:v pad="ih*16/9:ih:(ow-iw)/2:(oh-ih)/2" -target pal-dv -loglevel error -aspect 16:9 - | dvsource-file-voc -h "10.73.{{ room_number }}.1" -i 1 -p 2000 /dev/stdin
{% endif %}
