[Unit]
Description = PyGTK ATEM Switcher
After=network.target

[Service]
Type = simple
WorkingDirectory = /opt/pygtk-atem-switcher/src
ExecStart = /opt/pygtk-atem-switcher/venv/bin/python /opt/pygtk-atem-switcher/src/main.py
ExecStartPost = /usr/local/bin/i3-layout.sh
Restart = always
RestartSec = 5s
StartLimitInterval = 0
User=mixer
Group=mixer
Environment=PYATEMSWITCHER_CONFIG=/opt/pygtk-atem-switcher/config.toml
Environment="DISPLAY=:0"
% if high_dpi:
Environment="GDK_SCALE=2"
% endif

[Install]
WantedBy = multi-user.target
