[Unit]
Description=RTMP-Auth

[Service]
ExecStart=/opt/rtmp-auth/rtmp-auth -config /etc/rtmp-auth/config.toml
Restart=always

[Install]
WantedBy=multi-user.target
