# FASTCGI FRONTEND-MASTER directory
fastcgi_cache_path /srv/nginx/cache/streaming_fcgi
                   levels=1:2 keys_zone=streaming_fcgi:32m inactive=60m;

upstream php {
  server unix:/run/php/php7.3-fpm.sock;
}

map $upstream_http_content_length $flag_cache_empty {
  default 0;
  0       1;
}

# FRONTEND vHOST
server {
  server_name streaming.media.ccc.de;

  listen 127.0.0.1:8080;

  root /srv/nginx/htdocs;
  index index.php;

  error_page 404 = @404;
  error_page 500 501 502 503 504 = @500;

  location @500 {
    try_files /50x.html =500;
  }

  location @404 {
    try_files /404.php  =404;
  }

  location = /50x.html {
    alias /srv/nginx/htdocs/50x.html;
  }

  location ~* /.*\.(ht|sh|git|htaccess|inc|rb|py|pl|db|sqlite|sqlite3)$ {
    deny  all;
  }

  # serve static files directly add client site caching expire times
  #
  # Example: http://streaming.media.ccc.de/configs/conferences/gpn15/wolkenbar.png
  #          http://streaming.media.ccc.de/assets/js/lib/jquery.min.js
  #
  location ~* (.+\/assets|assets|configs\/conferences).+.(jpg|jpeg|gif|png|ico|ttf|svg|woff.*|swf|mp4|webm|xml|ics|html|json)$ {
    expires 24h;
    add_header Cache-Control "public";
  }

  location ~* thumbs.+.png$ {
    expires 10m;
    add_header Cache-Control "public";
  }

  location ~* (assets|configs\/conferences).+.(js|css|css.map)$ {
    expires 1h;
  }

  location ~* (index|404)\.php$ {
    include /etc/nginx/fastcgi_params;

    recursive_error_pages on;
    fastcgi_pass php;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param HTTPS $use_https;
    # do not cache
    if ($arg_route ~* "feedback\/read") {
      set $do_not_cache 1;
    }
    # caching some php runs
    fastcgi_no_cache $do_not_cache;
    fastcgi_no_cache $flag_cache_empty;
    fastcgi_cache_bypass $do_not_cache;
    fastcgi_cache_bypass $flag_cache_empty;
    fastcgi_cache_key "$request_method$http_x_proto$uri$is_args$args";
    fastcgi_cache streaming_fcgi;
    fastcgi_cache_valid 200 5m;
    fastcgi_cache_methods GET;
    add_header X-Cache "$upstream_cache_status origin";
    add_header Access-Control-Allow-Origin "*";
  }

  location / {
    rewrite /(.*) /index.php?route=$1 last;
  }
}
