#MANAGED BY ANSIBLE

[Unit]
Description = Transcoder Lounge a{{ item }}

[Service]
Type = simple
ExecStart = /opt/transcoder/scripts/lounge_a{{ item }}.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target
