#MANAGED BY ANSIBLE

[Unit]
Description = Transcoder Lounge %I

[Service]
Type = simple
ExecStart = /opt/transcoder/scripts/lounge.sh %i
Restart = always
RestartSec = 10s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target
