#MANAGED BY ANSIBLE

[Unit]
Description = Transcoder {{ item }} Stream %I
Requires = transcode@%i.target
After = transcode@%i.target

[Service]
Type = simple
ExecStart = /opt/transcoder/scripts/{{ item }}.sh %i
Restart = always
RestartSec = 30s
StartLimitInterval = 0

[Install]
WantedBy = transcode@%i.target
