#MANAGED BY ANSIBLE

[Unit]
Description = Transcode Stream %I
Requires = transcode@%i.target
After = transcode@%i.target

[Service]
Type = simple
EnvironmentFile = /opt/transcoder/config/%i
ExecStart = /opt/transcoder/scripts/transcode.py
Restart = always
RestartSec = 5s
StartLimitInterval = 0
