upstream graphite-api {
  server unix:/run/graphite-api.sock;
}

upstream grafana {
  server 127.0.0.1:3000;
}

upstream prometheus {
  server 127.0.0.1:9090;
}

upstream telegraf {
  server 127.0.0.1:8186;
}

server {
  server_name monitoring.c3voc.de;

  # https
  listen [::]:443 default_server ipv6only=off ssl http2;

  root /srv/www/monitoring.c3voc.de/htdocs;
  index index.html;

  # TLS certificates
  ssl_certificate       /etc/letsencrypt/live/monitoring.c3voc.de/fullchain.pem;
  ssl_certificate_key   /etc/letsencrypt/live/monitoring.c3voc.de/privkey.pem;

  # OCSP stapling
  ssl_trusted_certificate /etc/letsencrypt/live/monitoring.c3voc.de/chain.pem;

  auth_basic "voc login";
  auth_basic_user_file htpasswd;

  # don't allow access to some files or directories
  location ~* /.*\.(ht|sh|git|htaccess|php|inc|rb|py|pl|db|sqlite|sqlite3)$ {
    deny  all;
  }
  
  location /metrics {
    auth_basic          off;
    proxy_pass http://prometheus/prometheus/federate?match%5B%5D=%7B__name__%3D~%22(stream%3Acollectd_users%3Alive%7Ccdn%3A.*)%22%7D;
  }

  location /graphite {
    rewrite /graphite/(.*) /$1 break;
    proxy_pass http://graphite-api;
  }

  location /public_grafana_Ohphud0Gae {
    auth_basic          off;
    rewrite /public_grafana_Ohphud0Gae/grafana/(.*) /grafana/$1 break;
    rewrite /public_grafana_Ohphud0Gae/(.*) /grafana/$1 break;
    proxy_set_header Accept-Encoding "";
    sub_filter_types application/json;
    sub_filter '<base href="/grafana/"/>' '<base href="/public_grafana_Ohphud0Gae/"/>';
    sub_filter '"https://monitoring.c3voc.de/grafana' '"https://monitoring.c3voc.de/public_grafana_Ohphud0Gae';
    sub_filter '"/grafana' '"/public_grafana_Ohphud0Gae';
    sub_filter_once off;
    proxy_set_header X-WEBAUTH-USER guest;
    proxy_pass http://grafana;

    # increase max body size for snapshots
    client_max_body_size 100M;
  }

  location /grafana/ {
    #rewrite /grafana/(.*) /$1 break;
    proxy_set_header X-WEBAUTH-USER admin;
    proxy_pass http://grafana;

    # increase max body size for snapshots
    client_max_body_size 100M;
  }

  location /prometheus/ {
    proxy_pass http://prometheus;
  }

  location /write {
    proxy_pass http://telegraf;
  }
}
