---
  # Create user
  - name: create mixer group
    group: name=mixer state=present

  - name: create mixer user
    user: name=mixer group=mixer state=present
          shell=/usr/bin/zsh
          password={{ mixer_user_password }}
  
  - name: set timezone
    timezone:
      name: "{{ event.timezone }}"
