[Unit]
Description=Script to fix invalid transcoder service states

[Service]
ExecStart=/usr/bin/python3 -u /opt/fix-transcode-services.py
Restart=always

[Install]
WantedBy=multi-user.target
