# This is a example of a response file, used with --response-file.
# It automatically answers prompts for unattended operation.
# grep for UniqueID in the source code for prompt names.
# Pass --response-file to all invocations, not just quickstart.
# If you don't pass --response-file, it will be looked for at "(state-dir)/conf/responses".
# You will typically want to use --response-file with --stdio or --batch.
# For dialogs not requiring a response, but merely acknowledgement, specify true.
# This file is YAML. Note that JSON is a subset of YAML.
"acme-enter-email": {{ acmetool_responses_email }}
"acme-agreement:{{ acmetool_responses_agreement }}": true
"acmetool-quickstart-choose-server": https://acme-v02.api.letsencrypt.org/directory
"acmetool-quickstart-choose-method": {{ acmetool_responses_method }}
# This is only used if "acmetool-quickstart-choose-method" is "webroot".
"acmetool-quickstart-webroot-path": {{ acmetool_responses_webroot_path }}
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": {{ acmetool_responses_install_cronjob }}
"acmetool-quickstart-install-haproxy-script": {{ acmetool_responses_install_haproxy_script }}
"acmetool-quickstart-install-redirector-systemd": {{ acmetool_responses_install_redirector_systemd }}
"acmetool-quickstart-key-type": ecdsa
"acmetool-quickstart-rsa-key-size": 4096
"acmetool-quickstart-ecdsa-curve": nistp256
