<icecast>
    <hostname>{{ ansible_fqdn }}</hostname>
    <location>{{ icecast_location | default('voc') }}</location>
    <admin>{{ icecast_admin_email | default('contact@c3voc.de') }}</admin>

    <limits>
        <clients>{{ icecast_client_limit | default('1000') }}</clients>
        <sources>{{ icecast_source_limit | default('100')  }}</sources>
        <threadpool>{{ icecast_threadpool | default('5') }}</threadpool>
        <queue-size>{{ icecast_queue_size | default('2027520') }}</queue-size>
        <client-timeout>{{ icecast_client_timeout | default('30') }}</client-timeout>
        <header-timeout>{{ icecast_header_timeout | default('15') }}</header-timeout>
        <source-timeout>{{ icecast_source_timeout | default('10') }}</source-timeout>

        <burst-on-connect>{{ icecast_burst_on_connect | default('1') }}</burst-on-connect>
        <burst-size>{{ icecast_burst_size | default('262140') }}</burst-size>
    </limits>

    <authentication>
        <source-password>{{ icecast_source_password }}</source-password>
        <relay-password>{{ icecast_relay_password }}</relay-password>

        <admin-user>{{ icecast_admin_user | default('admin' )}}</admin-user>
        <admin-password>{{ icecast_admin_password }}</admin-password>
    </authentication>

    <listen-socket>
        <port>{{ icecast_port | default('8000') }}</port>
        <bind-address>::</bind-address>
        <bindv6only>0</bindv6only>
    </listen-socket>

    <!-- define master server to fetch from -->
{% if icecast_master_ip is defined %}
    <master-server>{{ icecast_master_ip }}</master-server>
    <master-server-port>{{ icecast_master_port | default('8000') }}</master-server-port>
    <master-update-interval>{{ icecast_master_update_interval | default('10') }}</master-update-interval>
    <master-password>{{ icecast_master_password }}</master-password>
    <relays-on-demand>{{ icecast_relay_on_demand | default('1') }}</relays-on-demand>
{% endif %}

{% if icecast_push_master is defined and icecast_push_master == 'yes' and icecast_additional_mounts is defined %}
    <!-- additional mount points with separate authentication -->
{% for mount in icecast_additional_mounts %}
    <mount>
      <mount-name>{{ mount['mount-name'] }}</mount-name>
      <type>{{ mount['type'] }}</type>
      <username>{{ mount['username'] }}</username>
      <password>{{ mount['password'] }}</password>
      <hidden>0</hidden>
      <public>1</public>
      <stream-name>{{ mount['stream-name'] }}</stream-name>
{% if mount['dump-file'] is defined %}
      <dump-file>{{ mount['dump-file'] }}</dump-file>
{% endif %}
    </mount>
{% endfor %}

    <!-- adding static mountpoints for all planed rooms -->
{% for mount    in icecast_static_streams_meta_data %}
    <!-- {{ mount['saal'] }} - video -->
{% for language in ["native", "translated"]%}
{% for quality  in ["sd", "hd"]%}
    <mount>
      <mount-name>/{{ mount['saal'] }}_{{ language }}_{{ quality }}.webm</mount-name>
      <type>video/webm</type>
      <subtype>vp8/vorbis</subtype>
      <hidden>0</hidden>
      <public>1</public>
      <stream-name>{{ mount['stream-name'] }}</stream-name>
      <stream-description>{{ mount['description'] | default("31st Chaos Communication Congress - December 27th to 30th, 2014 - CCH Congress Center Hamburg, Germany, Earth, Milky Way")}}</stream-description>
      <stream-url>{{ mount['stream-url'] }}</stream-url>
    </mount>

{% endfor %}

    <!-- audio -->
{% for format in [{ "format": "mp3",  "type": "audio/mpeg" },
                  { "format": "opus", "type": "audio/ogg",  "subtype": "opus" }] %}
    <mount>
      <mount-name>/{{ mount['saal'] }}_{{ language }}.{{ format['format'] }}</mount-name>
      <type>{{ format['type']}}</type>
{% if format['subtype'] is defined %}
      <subtype>{{ format['subtype']}}</subtype>
{% endif %}
      <hidden>0</hidden>
      <public>1</public>
      <stream-name>{{ mount['stream-name'] }}</stream-name>
      <stream-description>{{ mount['description'] | default("31st Chaos Communication Congress - December 27th to 30th, 2014 - CCH Congress Center Hamburg, Germany, Earth, Milky Way")}}</stream-description>
      <stream-url>{{ mount['stream-url'] }}</stream-url>
    </mount>

{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}

    <!-- metadate fix for mount points -->
{% if icecast_push_master is defined and icecast_push_master == 'yes' and icecast_fix_mount_metadata is defined %}
{% for mount in icecast_fix_mount_metadata %}
    <mount>
      <mount-name>{{ mount['mount-name'] }}</mount-name>
      <type>{{ mount['type'] }}</type>
    </mount>
{% endfor %}
{% endif %}

    <!-- This flag turns on the icecast2 fileserver from which static files can be served. -->
    <fileserve>1</fileserve>
    <paths>
        <basedir>{{ icecast_basedir | default('/usr/local/share/icecast') }}</basedir>

        <logdir>{{ icecast_logdir | default('/var/log/icecast2-beta') }}</logdir>
        <webroot>{{ icecast_webroot | default('/usr/share/icecast2-beta/web')}}</webroot>
        <adminroot>{{ icecast_adminroot | default('/usr/share/icecast2-beta/admin') }}</adminroot>

        <alias source="/" destination="/status.xsl"/>
    </paths>

    <logging>
{% if icecast_access_log is defined %}
      <accesslog>{{ icecast_access_log | default('access.log') }}</accesslog>
{% endif %}

      <errorlog>{{ icecast_error_log | default('error.log') }}</errorlog>

      <loglevel>{{ icecast_log_level | default('3') }}</loglevel> <!-- 4 Debug, 3 Info, 2 Warn, 1 Error -->
      <logsize>{{ icecast_logsize | default('1000') }}</logsize>  <!-- Max size of a logfile -->
    </logging>

    <security>
        <chroot>{{ icecast_chroot | default('0') }}</chroot>
        <changeowner>
            <user>{{ icecast_user | default('icecast2-beta') }}</user>
            <group>{{ icecast_group | default('icecast-beta') }}</group>
        </changeowner>
    </security>
</icecast>
