<icecast>
    <!-- location and admin are two arbitrary strings that are e.g. visible
         on the server info page of the icecast web interface
         (server_version.xsl). -->
    <location>{{ icecast_location | default('voc') }}</location>
    <admin>{{ icecast_admin_email | default('cdn@c3voc.de') }}</admin>

    <limits>
        <clients>{{ icecast_client_limit | default('1000') }}</clients>
        <sources>{{ icecast_source_limit | default('100')  }}</sources>
        <threadpool>{{ icecast_threadpool | default('5') }}</threadpool>
        <queue-size>{{ icecast_queue_size | default('524288') }}</queue-size>
        <client-timeout>{{ icecast_client_timeout | default('30') }}</client-timeout>
        <header-timeout>{{ icecast_header_timeout | default('15') }}</header-timeout>
        <source-timeout>{{ icecast_source_timeout | default('10') }}</source-timeout>
        <!-- If enabled, this will provide a burst of data when a client
             first connects, thereby significantly reducing the startup
             time for listeners that do substantial buffering. However,
             it also significantly increases latency between the source
             client and listening client.  For low-latency setups, you
             might want to disable this. -->
        <burst-on-connect>{{ icecast_burst_on_connect | default('1') }}</burst-on-connect>
        <!-- same as burst-on-connect, but this allows for being more
             specific on how much to burst. Most people won't need to
             change from the default 64k. Applies to all mountpoints  -->
        <burst-size>{{ icecast_burst_size | default('262140') }}</burst-size>
    </limits>

    <authentication>
        <!-- Sources log in with username 'source' -->
        <source-password>{{ icecast_source_password }}</source-password>
        <!-- Relays log in username 'relay' -->
        <relay-password>{{ icecast_relay_password }}</relay-password>

        <!-- Admin logs in with the username given below -->
        <admin-user>{{ icecast_admin_user | default('admin' )}}</admin-user>
        <admin-password>{{ icecast_admin_password }}</admin-password>
    </authentication>

    <!-- set the mountpoint for a shoutcast source to use, the default if not
         specified is /stream but you can change it here if an alternative is
         wanted or an extension is required
    <shoutcast-mount>/live.nsv</shoutcast-mount>
    -->

    <!-- Uncomment this if you want directory listings -->
    <!--
    <directory>
        <yp-url-timeout>15</yp-url-timeout>
        <yp-url>http://dir.xiph.org/cgi-bin/yp-cgi</yp-url>
    </directory>
     -->

    <!-- This is the hostname other people will use to connect to your server.
    It affects mainly the urls generated by Icecast for playlists and yp
    listings. -->
    <hostname>{{ ansible_fqdn }}</hostname>

    <!-- You may have multiple <listener> elements -->
    <listen-socket>
        <port>{{ icecast_port | default('8000') }}</port>
        <bind-address>::</bind-address>
        <bindv6only>0</bindv6only>
    </listen-socket>
    <!--
    <listen-socket>
        <port>8001</port>
    </listen-socket>
    -->
    {% if icecast_master_ip is defined %}
    <master-server>{{ icecast_master_ip }}</master-server>
    <master-server-port>{{ icecast_master_port | default('8000') }}</master-server-port>
    <master-update-interval>{{ icecast_master_update_interval | default('10') }}</master-update-interval>
    <master-password>{{ icecast_master_password }}</master-password>
    {% endif %}

    <!-- setting this makes all relays on-demand unless overridden, this is
         useful for master relays which do not have <relay> definitions here.
         The default is 0 -->
    <!-- <relays-on-demand>1</relays-on-demand> -->

    <!--
    <relay>
        <server>127.0.0.1</server>
        <port>8001</port>
        <mount>/example.ogg</mount>
        <local-mount>/different.ogg</local-mount>
        <on-demand>0</on-demand>

        <relay-shoutcast-metadata>0</relay-shoutcast-metadata>
    </relay>
    -->

    <!-- Only define a <mount> section if you want to use advanced options,
         like alternative usernames or passwords
    <mount>
        <mount-name>/saal1.ogg</mount-name>
        <type>video/ogg</type>
    </mount>  -->
    <!--
    <mount>
        <mount-name>/auth_example.ogg</mount-name>
        <authentication type="url">
            <option name="mount_add"       value="http://myauthserver.net/notify_mount.php"/>
            <option name="mount_remove"    value="http://myauthserver.net/notify_mount.php"/>
            <option name="listener_add"    value="http://myauthserver.net/notify_listener.php"/>
            <option name="listener_remove" value="http://myauthserver.net/notify_listener.php"/>
            <option name="headers"         value="x-pragma,x-token"/>
            <option name="header_prefix"   value="ClientHeader."/>
        </authentication>
    </mount>

    -->

    <fileserve>1</fileserve>

    <paths>
        <!-- basedir is only used if chroot is enabled -->
        <basedir>{{ icecast_basedir | default('/usr/local/share/icecast') }}</basedir>

        <!-- Note that if <chroot> is turned on below, these paths must both
             be relative to the new root, not the original root -->
        <logdir>{{ icecast_logdir | default('/var/log/icecast2-beta') }}</logdir>
        <webroot>{{ icecast_webroot | default('/usr/share/icecast2-beta/web')}}</webroot>
        <adminroot>{{ icecast_adminroot | default('/usr/share/icecast2-beta/admin') }}</adminroot>
        <!-- <pidfile>/usr/local/share/icecast/icecast.pid</pidfile> -->

        <!-- Aliases: treat requests for 'source' path as being for 'dest' path
             May be made specific to a port or bound address using the "port"
             and "bind-address" attributes.
          -->
        <!--
        <alias source="/foo" destination="/bar"/>
          -->
        <!-- Aliases: can also be used for simple redirections as well,
             this example will redirect all requests for http://server:port/ to
             the status page
          -->
        <alias source="/" destination="/status.xsl"/>
    </paths>

    <logging>
        {% if icecast_access_log is defined %}
        <accesslog>{{ icecast_access_log | default('access.log') }}</accesslog>
        {% endif %}
        <errorlog>{{ icecast_error_log | default('error.log') }}</errorlog>
        <!-- <playlistlog>playlist.log</playlistlog> -->
        <loglevel>{{ icecast_log_level | default('3') }}</loglevel> <!-- 4 Debug, 3 Info, 2 Warn, 1 Error -->
        <logsize>{{ icecast_logsize | default('1000') }}</logsize> <!-- Max size of a logfile -->
        <!-- If logarchive is enabled (1), then when logsize is reached
             the logfile will be moved to [error|access|playlist].log.DATESTAMP,
             otherwise it will be moved to [error|access|playlist].log.old.
             Default is non-archive mode (i.e. overwrite)
        -->
        <!-- <logarchive>1</logarchive> -->
    </logging>

    <security>
        <chroot>{{ icecast_chroot | default('0') }}</chroot>
        <changeowner>
            <user>{{ icecast_user | default('icecast2-beta') }}</user>
            <group>{{ icecast_group | default('icecast2-beta') }}</group>
        </changeowner>
    </security>
</icecast>
