[Unit]
Description=Upload-Server

[Service]
ExecStart=/usr/local/bin/upload-server -config /etc/upload-server/config.toml -path /srv/nginx
Restart=always

[Install]
WantedBy=multi-user.target
