---
- group: name="mirrorbits" state=present

- user: state=present
        name="mirrorbits"
        groups="mirrorbits"
        shell="/bin/false"

- file: path=/srv/mirrorbits state=directory
        mode=0755 owner=root group=root

- file: path=/srv/mirrorbits/logs state=directory
        mode=0755 owner=mirrorbits group=root

- git:
    repo: https://github.com/voc/mirrorbits
    dest: /srv/mirrorbits/mirrorbits
  name: git clone mirrorbits repo

- make:
    chdir: /srv/mirrorbits/mirrorbits
    target: install

- template: src=mirrorbits.conf
            dest=/etc/mirrorbits.conf
            mode=0640 owner=mirrorbits group=root

- copy: dest=/usr/lib/tmpfiles.d/mirrorbits.conf
      content="d /run/mirrorbits 0755 mirrorbits mirrorbits -"
      mode=0640 owner=root group=root

- systemd: state=started enabled=yes name=mirrorbits.service
- systemd: state=started enabled=yes name=redis.service
