#!/bin/sh -e
#
# This file is managed by ansible
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

iptables -F INPUT
iptables -A INPUT -s 185.106.84.33/32 -p icmp -m icmp --icmp-type 3 -j DROP -m comment --comment "juniper-fuckup-fix"
iptables -A INPUT -s 195.54.164.161/32 -p icmp -m icmp --icmp-type 3 -j DROP -m comment --comment "juniper-fuckup-fix"
iptables -A INPUT -s 195.54.164.169/32 -p icmp -m icmp --icmp-type 3 -j DROP -m comment --comment "juniper-fuckup-fix"
iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -A INPUT -i lo -j ACCEPT
# allow all from trusted ips
{% for comment, ip in trusted_ipv4_ips.items() %}
# {{ comment }}
iptables -A INPUT -s {{ ip }} -j ACCEPT -m comment --comment "{{ comment }}"
{% endfor %}

iptables -A INPUT -p tcp --sport 1024:65535 --dport 22   -j ACCEPT
{% if stream_master is defined and stream_master|bool %}
iptables -A INPUT -p tcp --sport 1024:65535 --dport 7999 -j ACCEPT
{% endif %}
iptables -A INPUT -p tcp --sport 1024:65535 --dport 80   -j ACCEPT
iptables -A INPUT -p tcp --sport 1024:65535 --dport 443  -j ACCEPT
iptables -A INPUT -p tcp --sport 1024:65535 --dport 8000 -j ACCEPT
iptables -A INPUT -p tcp -j REJECT --reject-with tcp-reset

# ip6tables
ip6tables -F INPUT
ip6tables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
ip6tables -A INPUT -i lo -j ACCEPT
# allow all from trusted ips
{% for comment, ip in trusted_ipv6_ips.items() %}
# {{ comment }}
ip6tables -A INPUT -s {{ ip }} -j ACCEPT -m comment --comment "{{ comment }}"
{% endfor %}

ip6tables -A INPUT -p tcp --sport 1024:65535 --dport 22   -j ACCEPT
{% if stream_master is defined and stream_master|bool %}
ip6tables -A INPUT -p tcp --sport 1024:65535 --dport 7999 -j ACCEPT
{% endif %}
ip6tables -A INPUT -p tcp --sport 1024:65535 --dport 80   -j ACCEPT
ip6tables -A INPUT -p tcp --sport 1024:65535 --dport 8000 -j ACCEPT
ip6tables -A INPUT -p tcp --sport 1024:65535 --dport 443  -j ACCEPT
ip6tables -A INPUT -p tcp -j REJECT --reject-with tcp-reset

exit 0
