[Unit]
Description=mirrorbits serverlist api daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/mirrorbits
Environment=API_URL=127.0.0.1:8000
User=mirrorbits
ExecStart=/usr/local/bin/mirrorbits-serverlist-api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mirrorbits

[Install]
WantedBy=default.target
