#!/bin/bash

check_env() {
	if [ -z "${!1}" ]; then
		echo "\$$1 must be set!"
		exit 1
	fi
}

check_env stream_key
check_env transcoding_source
check_env transcoding_sink

while true; do

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 -timeout 10000000 \
	-i "http://${transcoding_source}/${stream_key}" \
	\
	-vn \
	\
	-map '0:a:0' \
		-c:a:0 libmp3lame -b:a:0 96k \
		-metadata:s:a:0 title="Native" \
	\
	-map '0:a:0' \
		-c:a:1 libopus -vbr:a:1 off -b:a:1 32k \
		-metadata:s:a:1 title="Native" \
	\
	\
	-map '0:a:1?' \
		-c:a:2 libmp3lame -b:a:2 96k \
		-metadata:s:a:2 title="Translated" \
	\
	-map '0:a:1?' \
		-c:a:3 libopus -vbr:a:3 off -b:a:3 32k \
		-metadata:s:a:3 title="Translated" \
	\
	\
	-map '0:a:2?' \
		-c:a:4 libmp3lame -b:a:4 96k \
		-metadata:s:a:4 title="Translated-2" \
	\
	-map '0:a:2?' \
		-c:a:5 libopus -vbr:a:5 off -b:a:5 32k \
		-metadata:s:a:5 title="Translated-2" \
	\
	\
	-max_muxing_queue_size 400 \
	-f matroska \
	-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	-content_type video/webm \
	"icecast://${transcoding_sink}/${stream_key}_audio"

sleep 5
done
