#!/bin/sh

echo "check and fix me manually: $0"
exit 1

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 -timeout 10000000 \
	-i rtmp://live.ber.c3voc.de/stream/{{ item }} \
	-c:a copy \
	-c:v copy \
	-metadata:s:v:0 title="HD" \
	-map 0:v:0 \
	\
	-metadata:s:a:0 title="Native" \
	-map 0:a:0 \
	\
	-max_muxing_queue_size 400 \
	-f matroska \
	-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	-content_type video/webm \
	icecast://{{ transcoder_push_endpoint }}/{{ item }}

# Add this for h264 master re-encode
#	-c:v libx264 -preset:v veryfast -profile:v main -pix_fmt yuv420p -flags +cgop \
#	-threads:v 0 -aspect 16:9 \
#	-r:v 25 -g:v 75 -crf:v 23 -maxrate:v 4M -bufsize:v 18M \
