#!/bin/sh

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 \
	-i http://{{ transcoder.pull_endpoint }}/s{{ item }} \
	-filter_complex '
		[0:v:0] scale=1024:576 [smooth_sd];
		movie=/opt/voc/share/overlay_sd_saal{{ item }}.png [logo_sd];
		[smooth_sd] [logo_sd] overlay=0:0 [sd]
	' \
	\
{# Video settings #}
	-map '0:v:0' \
		-metadata:s:v:0 title="HD" \
		-c:v:0 copy \
	\
	-map '[sd]' \
		-metadata:s:v:1 title="SD" \
		-c:v:1 libx264 \
			-maxrate:v:1 800k \
			-crf:v:1 18 \
			-bufsize:v:1 3600k \
			-pix_fmt:v:1 yuv420p \
			-profile:v:1 main \
			-g:v:1 75 \
			-flags:v:1 +cgop \
			-preset:v:1 veryfast \
	\
{% if transcoding_capabilities == 'extended' %}
	-map '0:v:1' \
		-metadata:s:v:2 title="Slides" \
		-c:v:2 copy \
	\
{% endif  %}
{# Audio settings #}
	-c:a copy \
	\
	-map 0:a:0 -metadata:s:a:0 title="Native" \
{% if transcoding_capabilities == 'extended' %}
	-map 0:a:1 -metadata:s:a:1 title="Translated" \
	-map 0:a:2 -metadata:s:a:2 title="Translated-2" \
{% endif %}
	\
	-max_muxing_queue_size 400 \
	-f matroska \
	-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	-content_type video/webm \
	icecast://{{ transcoder.push_endpoint }}/s{{ item }}_h264
