#!/bin/bash

check_env() {
	if [ -z "${!1}" ]; then
		echo "\$$1 must be set!"
		exit 1
	fi
}

check_env stream_key
check_env transcoding_source
check_env transcoding_sink

while true; do

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 50000000 -timeout 10000000 \
	-i "http://${transcoding_source}/${stream_key}" \
	-filter_complex "
		[0:v:0] framestep=step=500,split [poster][poster2];
		[poster2] scale=w=213:h=-1 [thumb]
	" \
	\
	-c:v mjpeg -pix_fmt:v yuvj420p \
	-map '[poster]' \
		-metadata:s:v:0 title="Poster" \
	-map '[thumb]' \
		-metadata:s:v:1 title="Thumbnail" \
	-an \
	\
	-f matroska \
	-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	-content_type video/webm \
	"icecast://${transcoding_sink}/${stream_key}_thumbnail"

sleep 5
done
