#!/bin/sh

while true; do

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 -timeout 10000000 \
	-i http://{{ transcoder_pull_endpoint }}/{{ item }} \
	-filter_complex '
		[0:v:0] scale=1024:576 [smooth_sd];
		movie=/opt/voc/share/overlay_sd_{{ item }}.png [logo_sd];
		[smooth_sd] [logo_sd] overlay=0:0 [sd]
	' \
	\
{# Video settings #}
	-c:v libvpx-vp9 -flags:v +global_header \
		-deadline:v realtime -cpu-used:v 8 \
	\
	{# Use CQ Mode for HD/SD #}
	-map '0:v:0' \
		-metadata:s:v:0 title="HD" \
		-threads:v:0 8 \
		-frame-parallel:v:0 1 \
		-tile-columns:v:0 2 \
		-keyint_min:v:0 75 \
		-g:v:0 75 \
		-crf:v:0 23 \
		-b:v:0 2800k \
		-bufsize:v:0 12000k \
	-map '[sd]' \
		-metadata:s:v:1 title="SD" \
		-threads:v:1 4 \
		-frame-parallel:v:1 1 \
		-tile-columns:v:1 1 \
		-keyint_min:v:1 75 \
		-g:v:1 75 \
		-crf:v:1 25 \
		-b:v:1 800k \
		-bufsize:v:1 4500k \
	\
	-map '0:v:1?' \
		-metadata:s:v:2 title="Slides" \
		-threads:v:2 4 \
		-frame-parallel:v:2 1 \
		-tile-columns:v:2 1 \
		-g:v:2 15 \
		-keyint_min:v:2 15 \
		-crf:v:2 27 \
		-b:v:2 100k \
		-bufsize:v:2 750k \
	\
{# Audio settings #}
	-c:a libopus -ac:a 2 -b:a 128k \
	\
	-map '0:a:0' -metadata:s:a:0 title="Native" \
	-map '0:a:1?' -metadata:s:a:1 title="Translated" \
	-map '0:a:2?' -metadata:s:a:2 title="Translated-2" \
	\
	-fflags +genpts \
	-max_muxing_queue_size 1000 \
	-f matroska \
	-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	-content_type video/webm \
	icecast://{{ transcoder_push_endpoint }}/{{ item }}_vpx

sleep 10
done
