#!/bin/sh

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 10000 \
	-i http://{{ transcoder.pull_endpoint }}/s{{ item }} \
	-map 0:v:0 \
		-threads:0 8 \
		-c:v libvpx \
		-fflags +genpts \
		-flags +global_header \
		-g 75 \
		-keyint_min 75 \
		-deadline realtime \
		-b:v 2800k \
	-map 0:v:0 \
		-vf 'scale=1024:576' \
		-threads:0 8 \
		-c:v libvpx \
		-b:v 800k \
		-fflags +genpts \
		-flags +global_header \
		-g 25 \
		-keyint_min 25 \
		-deadline realtime \
	-map 0:v:1 \
		-threads:0 8 \
		-c:v libvpx \
		-b:v 100k \
		-fflags +genpts \
		-flags +global_header \
		-g 15 \
		-keyint_min 15 \
		-deadline realtime \
	-map 0:a \
	-f nut - |\
\
\
ffmpeg -v warning -nostats -nostdin -y -analyzeduration 10000 -i - \
{% for language in ['native', 'translated', 'translated-2'] %}
	{% for quality in ['hd', 'sd', 'slides'] %}
		-c:v copy \
		{% if quality == 'hd' %}
			-map 0:v:0 \
		{% elif quality == 'sd' %}
			-map 0:v:1 \
		{% elif quality == 'slides' %}
			-map 0:v:2 \
		{% endif %}
		\
		\
		-c:a copy \
		{% if language == 'native' %}
			-map 0:a:0 \
		{% elif language == 'translated' %}
			-map 0:a:1 \
		{% elif language == 'translated-2' %}
			-map 0:a:2 \
		{% endif %}
		\
		\
		-f webm \
		-cluster_size_limit 3M \
		-cluster_time_limit 3500 \
		-content_type video/webm \
		-password {{ lookup('keepass', 'ansible/icecast/source.password') }} \
		icecast://{{ transcoder.push_endpoint }}/s{{ item.0 }}_{{ item.2 }}_{{ item.1 }}.webm
		\
	{% endfor %}
{% endfor %};
