[Unit]
Description = voctomix2 gui
After=network.target

[Service]
Type = simple
WorkingDirectory = /opt/voctomix2/release
ExecStartPre = /usr/local/bin/voctogui-check-connection.sh
ExecStart = /opt/voctomix2/release/voctogui/voctogui.py --ini-file /opt/voctomix2/voctogui-config.ini -vv
% if node.metadata.get('mixer-common/enable-irssi'):
ExecStartPost = /usr/local/bin/voctogui-i3-layout.sh
% endif
Restart = always
RestartSec = 5s
StartLimitInterval = 0
User=mixer
Group=mixer

Environment="DISPLAY=:0"
% if high_dpi:
Environment="GDK_SCALE=2"
% endif

[Install]
WantedBy = multi-user.target
