[Unit]
Description = voctomix2 gui
After=network.target

[Service]
WorkingDirectory=/opt/voctomix2/release
% if node.metadata.get('voctomix2/version_tuple') >= (2,3):
Type=notify
% else:
Type=simple
ExecStartPre=/usr/local/bin/voctogui-check-connection.sh
% endif
ExecStart=/opt/voctomix2/release/voctogui/voctogui.py --ini-file /opt/voctomix2/voctogui-config.ini -vv
ExecStartPost=/usr/local/bin/i3-layout.sh
Restart=always
RestartSec=5s
StartLimitInterval=0
User=mixer
Group=mixer

Environment="DISPLAY=:0"
% if high_dpi:
Environment="GDK_SCALE=2"
% endif

[Install]
WantedBy=multi-user.target
