[Unit]
Description=Template config for nginx
After=network.target consul.service
Before=nginx.service


[Service]
Type=simple
ExecStart=/usr/local/bin/consul-template \
  -default-left-delimiter '[[' -default-right-delimiter ']]' \
  -template "/etc/consul-template.d/relay.ctmpl:/etc/nginx/sites-enabled/relay.conf:/bin/bash -c '/bin/systemctl reload nginx.service || true'"
Restart=on-failure
ExecReload=/usr/bin/env kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=nginx.service


