#MANAGED BY ANSIBLE

[Unit]
Description = Fanout {{ item.1 }} Stream s{{ item.0 }}
Requires = fanout_s{{ item.0 }}.target
After = fanout_s{{ item.0 }}.target

[Service]
Type = simple
ExecStart = /opt/fanout/scripts/s{{ item.0 }}_{{ item.1 }}.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = fanout_s{{ item.0 }}.target
