#MANAGED BY ANSIBLE

[Unit]
Description = Fanout Youtube Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
EnvironmentFile = /opt/fanout/config/%i
ExecStart = /opt/fanout/scripts/thumbnail.py \
	--stream=%i \
	--pull_endpoint=${fanout_source} \
	--youtube_stream_key={{ youtube_stream_key }}

Restart = always
RestartSec = 10s
StartLimitInterval = 0
