#MANAGED BY ANSIBLE

[Unit]
Description = Fanout Thumbnail Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
ExecStart = /opt/fanout/scripts/thumbnail.py \
	--stream=%i \
	--pull_endpoint={{ relay_fanout.pull_endpoint }} \
	--thumbnail_write_path={{ relay_fanout.thumbnail_write_path }}

Restart = always
RestartSec = 30s
StartLimitInterval = 0

[Install]
WantedBy = fanout@%i.target
