#MANAGED BY ANSIBLE

[Unit]
Description = Fanout Thumbnail Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
EnvironmentFile = /opt/fanout/config/%i
ExecStart = /opt/fanout/scripts/thumbnail.py \
	--stream=%i \
	--pull_endpoint=${fanout_source} \
	--thumbnail_write_path={{ relay_fanout.thumbnail_write_path }}

Restart = always
RestartSec = 10s
StartLimitInterval = 0