#MANAGED BY ANSIBLE

[Unit]
Description = Fanout Audio Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
ExecStart = /opt/fanout/scripts/audio.py \
	--stream=%i \
	--pull_endpoint={{ relay_fanout.pull_endpoint }} \
	--push_endpoint={{ relay_fanout.push_endpoint }} \
	--icecast_password={{ lookup('keepass', 'ansible/icecast/source.password') }}

Restart = always
RestartSec = 30s
StartLimitInterval = 0

[Install]
WantedBy = fanout@%i.target
