#MANAGED BY ANSIBLE

[Unit]
Description = Fanout WebM Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
EnvironmentFile = /opt/fanout/config/%i
ExecStart = /opt/fanout/scripts/webm.py \
	--stream=%i \
	--pull_endpoint=${fanout_source} \
	--push_endpoint={{ relay_fanout.push_endpoint }} \
	--icecast_password={{ lookup('keepass', 'ansible/icecast/source.password') }}

Restart = always
RestartSec = 10s
StartLimitInterval = 0
