#MANAGED BY ANSIBLE

[Unit]
Description = Fanout {{ item.1 }} Stream {{ item.0 }}
Requires = fanout_{{ item.0 }}.target
After = fanout_{{ item.0 }}.target

[Service]
Type = simple
ExecStart = /opt/fanout/scripts/{{ item.1 }}.py \
	--stream={{ item.0 }} \
	--pull_endpoint={{ relay_fanout.pull_endpoint }} \
	--push_endpoint={{ relay_fanout.push_endpoint }} \
	--icecast_password={{ lookup('keepass', 'ansible/icecast/source.password') }}

Restart = always
RestartSec = 30s
StartLimitInterval = 0

[Install]
WantedBy = fanout_{{ item.0 }}.target
