#MANAGED BY ANSIBLE

[Unit]
Description = Fanout Dash Stream %I
Requires = fanout@%i.target
After = fanout@%i.target

[Service]
Type = simple
EnvironmentFile = /opt/fanout/config/%i
ExecStart = /opt/fanout/scripts/dash.py \
	--stream=%i \
	--pull_endpoint=${fanout_source} \
	--dash_write_path={{ relay_fanout.dash_write_path }}

Restart = always
RestartSec = 10s
StartLimitInterval = 0
