#MANAGED BY ANSIBLE

[Unit]
Description = Update transcoding tasks

[Service]
Type = simple
ExecStart = /opt/fanout/scripts/update_fanout.py -u {{ stream_api.user }} -p {{ stream_api.password }} {{ stream_api.url }} {{ inventory_hostname }}
StartLimitInterval = 0
