---
- name: Remove systemd-hostnamed service
  ansible.builtin.file:
    path: /lib/systemd/system/systemd-hostnamed.service
    state: absent

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
