---
  - name: deploy raidstatus script on system with HW raid
    copy: src=raidstatus
          dest=/usr/local/sbin/raidstatus
          owner=root group=root mode=0750
    when: ansible_hostname is match('dellinger|storage|aws|berlin-ak|mebibyte')

  - name: create check_system script
    template:
      src: monitoring/check_system.sh.j2
      dest: /usr/local/sbin/check_system.sh
      mode: 0750
    tags:
      - check_recording
      - check_system
      - encodermode
      - voctomix

  - name: create check_system.d subdir
    file:
      path: /usr/local/sbin/check_system.d
      mode: 0750
      state: directory
    tags:
      - check_system

  - cron: name="check system and send mqtt message"
          minute="*/1" hour="*" month="*" day="*"
          job="nice -n 19 /usr/local/sbin/check_system.sh >/dev/null"

  - name: deploy systemd unit for shutdown hook
    copy:
      src: send-mqtt-shutdown.service
      dest: /etc/systemd/system/send-mqtt-shutdown.service
      mode: 0644
    register: shutdown_hook

  - name: enable & start shutdown hook
    systemd:
      name: send-mqtt-shutdown
      state: started
      enabled: yes
      daemon_reload: yes
    when: shutdown_hook.changed
