---
 - name: remove pve enterprise list
   file:
     path: /etc/apt/sources.list.d/pve-enterprise.list
     state: absent

 - name: install packages needed for repos
   apt:
     name:
      - apt-transport-https
      - gpg
     state: present
   tags:
     - gpg

 # general
 - name: setup the VOC debian repo key
   apt_key: data="{{ lookup('file', 'voc_repo.key') }}" state=present
   tags:
     - repo
     - gpg
   when: "system.type == 'pc' and 'proxmox' not in group_names"

 #
 # add repos
 #

 - name: setup the debian backports repo
   apt_repository: repo="deb http://ftp-stud.hs-esslingen.de/debian {{ ansible_distribution_release }}-backports main contrib non-free non-free-firmware" update_cache=false
   when: system.type == 'pc'

 - name: ensure that the non-free suite is enabled
   apt_repository: repo="deb http://ftp-stud.hs-esslingen.de/debian {{ ansible_distribution_release }} main contrib non-free non-free-firmware" update_cache=false
   when: system.type == 'pc'

 - name: ensure that security updates enabled for bullseye
   apt_repository: repo="deb http://security.debian.org/ bullseye-security main contrib non-free" update_cache=false
   when: system.type == 'pc' and ansible_distribution_release == 'bullseye'

 - name: ensure that the debian keyrings are present
   apt: name={{ packages|flatten(levels=1) }} state=present update_cache=yes
   vars:
     packages:
      - debian-keyring
      - debian-archive-keyring
   when: system.type == 'pc'

 - name: setup the VOC debian repo
   apt_repository: repo="deb http://pkg.c3voc.de/ {{ ansible_distribution_release }} main" state=present
   when: "system.type == 'pc' and 'proxmox' not in group_names"

#
# Configure pinning
#

 - name: pin the VOC repo to the highest priority
   copy: src=voc-repo-pinning
         dest="/etc/apt/preferences.d/voc.pref"
         mode=0644 owner=root group=root


#
# LSI RAID controller specific
#
 - name: added hwraid gpg key
   apt_key: data="{{ lookup('file', 'hwraid_repo.key') }}" state=present
   when: ansible_hostname is match('mebibyte')

 - name: added hwraid repo for LSI raid controller
   apt_repository: repo="deb http://hwraid.le-vert.net/debian stretch main" state=present
   when: ansible_hostname is match('mebibyte')
