---
- name: Create ssl-cert group
  ansible.builtin.group:
    name: ssl-cert
    state: present
- name: Copy pre generated DH parameters
  ansible.builtin.copy:
    dest: "/etc/ssl/{{ item }}.pem"
    content: "{{ lookup('keepass', 'ansible/ssl/' + item + '.notes') }}"
    mode: "0640"
    owner: root
    group: ssl-cert
  with_items:
    - dhparam2048
    - dhparam4096
