[Unit]
Description=Run dehydrated weekly to renew Let's Encrypt certificated

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
