[Unit]
Description=Run dehydrated daily to renew Let's Encrypt certificates

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
