global
    nbproc  {{ haproxy_nbproc | default('2') }}
    chroot  /usr/share/haproxy
    pidfile /run/haproxy.pid
    maxconn 4096
    ulimit-n 65536
    user    haproxy
    group   haproxy
    stats socket /var/run/haproxy_stats.sock level operator
    daemon
    log     /dev/log local0 notice
    # tls
    ssl-default-bind-options no-sslv3 force-tlsv12
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK

defaults
    mode    http
    # enable some usefull options
    option  httplog
    option  dontlognull
    option  http-server-close
    option  abortonclose
    # configure timeouts
    timeout http-request 5s # avoid slowloris
    timeout connect 5s
    timeout server  10s
    timeout client  30s
    # constum error filter
    errorfile 500 /srv/nginx/htdocs/50x.html
    errorfile 502 /srv/nginx/htdocs/50x.html
    errorfile 503 /srv/nginx/htdocs/50x.html


frontend icecast_and_nginx_hls
    # bind
    bind {{ ansible_default_ipv4.address }}:80
    bind {{ ansible_default_ipv6.address }}:80
    # tls
    bind {{ ansible_default_ipv6.address }}:443 ssl crt /etc/ssl/certs/haproxy_streaming.media.ccc.de.pem crt /etc/ssl/certs/haproxy_cdn.c3voc.de.pem # <cert+privkey+intermediate+dhparam>
    bind {{ ansible_default_ipv4.address }}:443 ssl crt /etc/ssl/certs/haproxy_streaming.media.ccc.de.pem crt /etc/ssl/certs/haproxy_cdn.c3voc.de.pem # <cert+privkey+intermediate+dhparam>

    # add special header for protocol version
    http-request add-header X-Proto https if  { ssl_fc }
    http-request add-header X-Proto http  if !{ ssl_fc }
    # tag request for the right destination server
    acl hls_playlist         path_end   -i .m3u8
    acl hls_fragment         path_end   -i .ts
    acl is_relive            path_end   -i relive/index.json thumb.jpg crossdomain.xml relive/index.html .mp4
    acl icecast              path_end   -i .webm .opus .mp3 .ogg .ogv .oga
    acl is_cdn               hdr(host)  -i cdn.c3voc.de
    acl is_streaming_website hdr(host)  -i streaming.media.ccc.de -i www.stream.c3voc.de
    # ip address matching
    acl is_usa               src        -f /etc/haproxy/usa_subnetworks.txt
    acl is_local             src        151.217.0.0/16 94.45.224.0/19 2001:67c:20a1::/48 # TODO: update subnetworks
    # return 403 if hostname or defined file extensions are not matching
    http-request deny 	 unless is_cdn or is_streaming_website
    http-request deny 	 unless hls_playlist or hls_fragment or icecast or is_streaming_website or is_relive

    # Backend usage
    # local relay
    use_backend hls_fragment_local_https    if is_local is_relive    { ssl_fc }
    use_backend hls_fragment_local_https    if is_local hls_fragment { ssl_fc }
    use_backend hls_playlist_local_https    if is_local hls_playlist { ssl_fc }
    use_backend icecast_local_https         if is_local icecast      { ssl_fc }
    # no tls
    use_backend hls_fragment_local          if is_local hls_fragment
    use_backend hls_fragment_local          if is_local is_relive
    use_backend hls_playlist_local          if is_local hls_playlist
    use_backend icecast_local               if is_local icecast

    # usa relays
    use_backend hls_fragment_usa_https    if is_usa is_relive    { ssl_fc }
    use_backend hls_fragment_usa_https    if is_usa hls_fragment { ssl_fc }
    use_backend hls_playlist_usa_https    if is_usa hls_playlist { ssl_fc }
    use_backend icecast_usa_https         if is_usa icecast      { ssl_fc }
    # no tls
    use_backend hls_fragment_usa          if is_usa hls_fragment
    use_backend hls_fragment_usa          if is_usa is_relive
    use_backend hls_playlist_usa          if is_usa hls_playlist
    use_backend icecast_usa               if is_usa icecast

    # use remote relays
    use_backend streaming_website   if is_streaming_website
    use_backend hls_playlist_https  if hls_playlist              { ssl_fc }
    use_backend hls_fragment_https  if hls_fragment or is_relive { ssl_fc }
    use_backend icecast_https       if icecast                   { ssl_fc }
    use_backend hls_playlist        if hls_playlist
    use_backend hls_fragment        if hls_fragment or is_relive
    use_backend icecast             if icecast

# enable statistics and basic admin support for localhost
# TODO: add stats per process
listen stats
    bind 127.0.0.1:9100
    mode http
    stats enable
    stats uri     /admin?stats
    stats refresh 10s
    stats admin   if LOCALHOST

# ######## #
# BACKENDs #
# ######## #

# local
backend hls_playlist_local
    balance roundrobin
    option forwardfor

backend icecast_local
    balance roundrobin
    option forwardfor

backend hls_fragment_local
    balance roundrobin
    option forwardfor


# usa
backend hls_playlist_usa
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:80  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:80  weight 50

backend icecast_usa
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:8000  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:8000  weight 50

backend hls_fragment_usa
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:80  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:80  weight 50


# Internetz
backend hls_fragment
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:80 redir http://fr1.1und1.c3voc.de:80  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:80 redir http://fr2.1und1.c3voc.de:80  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:80  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:80  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:80 redir http://fr3.1und1.c3voc.de:80  weight 50

backend icecast
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:80 redir http://fr1.1und1.c3voc.de:80  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:80 redir http://fr2.1und1.c3voc.de:80  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:80  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:80  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:80 redir http://fr3.1und1.c3voc.de:80  weight 50

backend hls_playlist
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:80 redir http://fr1.1und1.c3voc.de:80  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:80 redir http://fr2.1und1.c3voc.de:80  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:80 redir http://us1.1und1.c3voc.de:80  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:80 redir http://us2.1und1.c3voc.de:80  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:80 redir http://fr3.1und1.c3voc.de:80  weight 50


# https
backend hls_fragment_https
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:443 redir https://fr1.1und1.c3voc.de:443  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:443 redir https://fr2.1und1.c3voc.de:443  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:443 redir https://fr3.1und1.c3voc.de:443  weight 50

backend icecast_https
    http-request add-header Access-Control-Allow-Origin streaming.media.ccc.de
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:443 redir https://fr1.1und1.c3voc.de:443  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:443 redir https://fr2.1und1.c3voc.de:443  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:443 redir https://fr3.1und1.c3voc.de:443  weight 50

backend hls_playlist_https
    balance roundrobin
    option forwardfor
    server fr1.1und1.c3voc.de fr1.1und1.c3voc.de:443 redir https://fr1.1und1.c3voc.de:443  weight 50
    server fr2.1und1.c3voc.de fr2.1und1.c3voc.de:443 redir https://fr2.1und1.c3voc.de:443  weight 50
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50
    server fr3.1und1.c3voc.de fr3.1und1.c3voc.de:443 redir https://fr3.1und1.c3voc.de:443  weight 50

backend hls_playlist_local_https
    balance roundrobin
    option forwardfor

backend icecast_local_https
    balance roundrobin
    option forwardfor

backend hls_fragment_local_https
    balance roundrobin
    option forwardfor

backend hls_playlist_usa_https
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50

backend icecast_usa_https
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50

backend hls_fragment_usa_https
    balance roundrobin
    option forwardfor
    server us1.1und1.c3voc.de us1.1und1.c3voc.de:443 redir https://us1.1und1.c3voc.de:443  weight 50
    server us2.1und1.c3voc.de us2.1und1.c3voc.de:443 redir https://us2.1und1.c3voc.de:443  weight 50


# frontend
backend streaming_website
    balance roundrobin
    option forwardfor
    http-request set-header X-Custom-Header %[url]
    http-request set-header X-Real-IP %[src]
{% if ansible_fqdn == 'lb1.fem.c3voc.de' %}
    server lb1.fem.c3voc.de 127.0.0.1:8080 maxconn 4096
    server lb1.het.c3voc.de lb1.het.c3voc.de:8443 backup
{% else %}
    server lb1.het.c3voc.de 127.0.0.1:8080 maxconn 4096
    server lb1.fem.c3voc.de lb1.fem.c3voc.de:8443 backup
{% endif %}
