#!/bin/sh

while true; do

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 \
	-i rtmp://{{ rtmp_ingest.pull_endpoint }}/{{ item }} \
	-c copy -map 0:v:0 -map 0:a:0 \
	-f matroska -content_type video/webm -password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
	icecast://127.0.0.1:7999/{{ item }}

sleep 10
done
