#!/bin/bash
set -xe

mosquitto_pub -h "mng.c3voc.de" -p 1883 -u "{{ lookup('keepass', 'ansible/aes67-backup/mqtt.username') }}" -P "{{ lookup('keepass', 'ansible/aes67-backup/mqtt.password') }}" -t "/voc/alert" -m "{\"level\":\"info\",\"component\":\"{{ ansible_fqdn }}:sdi-recorder\",\"msg\":\"SDI-Backup '{{ item.name }}': Recording started\"}" &

ffmpeg -format_code Hp25 -f decklink -i {{ item.device }} \
  -map 0:v -c:v:0 mpeg2video -pix_fmt:v:0 yuv420p -qscale:v:0 4 -qmin:v:0 4 -qmax:v:0 4 -keyint_min:v:0 5 -bf:v:0 0 -g:v:0 5 -me_method:v:0 dia \
  -map 0:a -c:a mp2 -b:a 384k -ac:a 2 -ar:a 48000 \
  -flags +global_header \
  -f segment -segment_time 180 -strftime 1 -segment_format mpegts "/video/sdi-backup/{{ room_fahrplan_name | lower | replace(' ', '') }}/{{ item.name }}/%Y-%m-%d_%H-%M-%S-$$.ts"
