#!/bin/sh
TARGET="/etc/letsencrypt/live/{{ item }}/haproxy.pem"

cp /dev/null $TARGET
chmod 660 $TARGET
cat /etc/letsencrypt/live/{{ item }}/cert.pem >> $TARGET
echo >> $TARGET
cat /etc/letsencrypt/live/{{ item }}/privkey.pem >> $TARGET
echo >> $TARGET
cat /etc/letsencrypt/live/{{ item }}/chain.pem >> $TARGET
echo >> $TARGET
cat /etc/ssl/dhparam2048.pem >> $TARGET

systemctl reload haproxy
