[Unit]
Description=A high performance rtmp server ;)
Documentation=man:nginx(8)
After=network.target nss-lookup.target

[Service]
Type=simple
PIDFile=/run/nginx-rtmp.pid
ExecStartPre=/usr/sbin/nginx -c /etc/nginx-rtmp/nginx.conf -t -q -g 'daemon off; master_process on;'
ExecStart=/usr/sbin/nginx -c /etc/nginx-rtmp/nginx.conf -g 'daemon off; master_process on;'

[Install]
WantedBy=multi-user.target
