# Enable origin relay
# - host stream-info api
# - run upload-server
# - distribute local files via nginx
relay_origin: false

# should be exclusive to relay_origin
# - runs proxy-cache in front of origin relays
relay_edge: false

# Generate relive snippets locally
relay_relive_origin: false

# special edge relay tags for service announcement
relay_local: false # Serve clients at the local event
relay_relive: false # Proxy cache relive files
relay_dtag: false # Special relay with good DTAG peering
relay_thirdparty: false
relay_mediastatic: false
relay_stats_server: false

# default cache sizes
nginx_hls_relive_cache_max_size: '30g'
nginx_live_cache_max_size: '30g'
nginx_media_static_cache_max_size: '20g'

# backends
relay_media_static_backends: []

consul_template_templates:
  - "/etc/consul-template.d/relay.ctmpl:/etc/nginx/sites-enabled/relay.conf:/bin/bash -c '/bin/systemctl reload nginx.service || true'"
consul_template_before_units:
  - nginx.service
