#!/bin/sh

openssl ocsp -noverify -issuer /etc/letsencrypt/live/{{ domain }}/chain.pem \
  -cert /etc/letsencrypt/live/{{ domain }}/cert.pem \
  -url http://ocsp.int-x1.letsencrypt.org/ \
  -no_nonce -header Host ocsp.int-x1.letsencrypt.org \
  -respout /etc/ssl/certs/{{ domain }}.pem.ocsp
