[Unit]
Description=Stream-API

[Service]
ExecStart=/opt/stream-api/stream-api
Environment=PYTHON_UNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
