#MANAGED BY ANSIBLE

[Unit]
Description = voctomix {{ item }} streaming sink
After = voctocore.service
Requires = voctocore.service

[Service]
Type = simple
ExecStart = /opt/voctomix/scripts/streaming-sink-{{ item }}.sh
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = voctocore.service
