[Unit]
Description = voctomix core
After=network.target

[Service]
Type = simple
ExecStart = /opt/voctomix/release/voctocore/voctocore.py --ini-file /opt/voctomix/voctocore-config.ini -vv
Restart = always
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = multi-user.target
