[Unit]
Description = voctomix music-source
After = voctomix-voctocore.service
Requires = voctomix-voctocore.service

[Service]
Type = simple
ExecStart = /opt/voctomix/scripts/music-source-from-folder.py -vv /opt/voc/share/pause-music/
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = voctomix-voctocore.service
