[Unit]
Description = voctomix video-source for decklink-card #{{ item.0 }}: {{ item.1 }}
After=network.target

[Service]
Type = simple
ExecStart = \
	/usr/bin/ffmpeg -y -nostdin \
		-f decklink \
		-i '{{ item.1 }}' \
		-c:v rawvideo -c:a pcm_s16le \
		-pix_fmt yuv420p \
		-f matroska \
		tcp://localhost:{{ item.0 + 10000 }}

Restart = always
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = multi-user.target
