[Unit]
Description = voctomix video-source for decklink-card #{{ item.0 }}: {{ item.1 }}
After = voctomix-voctocore.service
Requires = voctomix-voctocore.service

[Service]
Type = simple
ExecStart = /opt/voctomix/scripts/decklink-source-{{ item.0 + 1 }}.sh

Restart = always
StartLimitInterval = 60
StartLimitBurst = 10

[Install]
WantedBy = voctomix-voctocore.service
