---
  # Up/ down public interface
  - name: down pbl
    command: ifdown pbl

  - name: up pbl
    command: ifup pbl

  # Restart shorewall. Configuration is validated in template.
  - name: restart shorewall
    command: shorewall restart

  # Restart DHCP daemon
  - name: restart dhcpd
    service: name=isc-dhcp-server state=restarted

  - name: reload bind
    service: name=bind9 state=reload
