server {
  listen [::]:80 default_server ipv6only=off;
	server_name _;
	return 302 https://$host$request_uri;
}

server {
  server_name _;
  listen [::]:443 default_server ipv6only=off ssl http2;

  root /var/www;
  index index.html;

  # TLS certificates
  ssl_certificate       /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem;
  ssl_certificate_key   /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem;

  # OCSP stapling
  ssl_trusted_certificate /etc/letsencrypt/live/{{ ansible_fqdn }}/chain.pem;

  # don't allow access to some files or directories
  location ~* /.*\.(ht|sh|git|htaccess|php|inc|rb|py|pl|db|sqlite|sqlite3)$ {
    deny  all;
  }

  # stream-api
  location /backend/ {
    auth_basic "stream-api login";
    auth_basic_user_file htpasswd;
    proxy_pass http://127.0.0.1:8082;
  }
  location /stats/ {
    auth_basic "stream-api login";
    auth_basic_user_file htpasswd;
    proxy_pass http://127.0.0.1:9999;
  }
}
