# Read metrics of haproxy, via prometheus
[[inputs.prometheus]]
  urls = ["http://localhost:9101/metrics"]
  metric_version = 1
  tags = {job = "haproxy"}

# Collect total number of feedbacks
[[inputs.exec]]
name_override = "feedback_total"
commands = [
    "/usr/bin/sqlite3 /opt/streaming-feedback/feedback.sqlite3 'SELECT COUNT(*) AS total FROM feedback;'",
]
data_format = "value"
data_type = "integer"
