user  www-data;

# Specifies the value for maximum file descriptors that can be opened by this process.
worker_rlimit_nofile 65536;
# multiple worker
worker_processes  {{ nginx_worker_processes | default(8) }};

error_log  /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
  worker_connections  {{ nginx_worker_connections | default('4096') }};

  # required by per_worker
  accept_mutex off;
}

http {
  server_tokens off;

  types_hash_max_size 2048;

  log_format ip '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';
  access_log /var/log/nginx/access.log ip buffer=128k flush=30s;

  # mime-types
  default_type application/octet-stream;

  include /etc/nginx/mime.types;

  types {
      application/dash+xml mpd;
  }

  # gzip settings
  gzip on;
  gzip_disable "msie6";
  gzip_comp_level 6;
  gzip_min_length  1100;
  gzip_buffers 16 8k;
  gzip_proxied any;
  gzip_vary on;
  gzip_types text/plain
             text/css
             text/js
             application/x-javascript
             text/javascript
             application/json;

  # sendfile() copies data between one file descriptor and another.
  # Because this copying is done within the kernel, sendfile() is more
  # efficient than the combination of read(2) and write(2), which would
  # require transferring data to and from user space.
  sendfile on;

  # disable directory listing
  autoindex off;

  # tls defaults
  ssl_protocols         TLSv1.2;
  ssl_ciphers          'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK';
  ssl_dhparam           /etc/ssl/dhparam2048.pem;
  ssl_prefer_server_ciphers on;

  ssl_session_cache   shared:ssl_session_cache:10m;
  ssl_session_timeout 5m;

  ssl_stapling on;
  ssl_stapling_verify on;

  map $http_x_proto $use_https {
      default off;
      https on;
  }

  # include vhosts
  include /etc/nginx/sites-enabled/*;

  # vhost for stats
  # Example:
  #   http://127.0.0.1:8999/stats/nginx → nginx stats for alle workers
  #   http://127.0.0.1:9000/stats/nginx → niginx stats for worker 1
  server {
    server_name _;

    listen 127.0.0.1:8999;
{% if rtmp is defined and rtmp == 'yes' %}
    # per-worker listener primary for stats
    # 1st worker will listen 8000
    # 2nd worker will listen 8001
    # …
    listen 127.0.0.1:9000 per_worker;
{% endif %}

    # stats
    location ~* ^/stats/nginx {
      stub_status on;
      access_log   off;

{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
    }

{% if rtmp is defined and rtmp == 'yes' %}
    location ~* ^/stats/rtmp {
      rtmp_stat all;
      access_log off;

{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
    }
{% endif %}

{% if php is defined and php == 'yes' %}
    location ~* ^/stats/php {
      access_log off;

      include /etc/nginx/fastcgi_params;
      fastcgi_pass php;
      fastcgi_keep_conn on;
      fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;

{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
    }
{% endif %}
  }
}
