STREAMNAME=${STREAMNAME:-"{{ room_fahrplan_name | lower | replace(' ', '') }}"}
STORAGE=/video/
SEGMENT_SECS=${SEGMENT_SECS:-180}
PIPES=

PIPE_CAPTURE="capture.pipe.dv"

# pipes to create
PIPES="${PIPE_CAPTURE}"

CMD_CAPTURE="dvsink-command-voc -h 10.73.{{ room_number }}.1 -p 2000 -- sh -c 'cat - > ${PIPEPATH}/${PIPE_CAPTURE}'"

CMD_INTERMEDIATE="ffmpeg -y -f dv -re -i ${PIPEPATH}/${PIPE_CAPTURE} \
    -aspect 16:9 \
    -map 0:0 -c:v:0 mpeg2video -pix_fmt:v:0 yuv422p -qscale:v:0 2 -qmin:v:0 2 -qmax:v:0 5 -keyint_min 0 -bf:0 0 -g:0 0 -intra:0 -maxrate:0 50M \
    -c:a mp2 -b:a 192k -ac:a 1 -ar:a 48000 \
    -map 0:a -filter:a:0 pan=mono:c0=FL \
    -map 0:a -filter:a:1 pan=mono:c0=FR \
    -flags +global_header \
    -f segment -segment_time ${SEGMENT_SECS} -segment_format mpegts ${STORAGE}/${STREAMNAME}-%t-%05d.ts"


mkdir -p "${STORAGE}"
echo "[INFO] Change directory to ${STORAGE}"
cd ${STORAGE}
