---
  - import_tasks: ../../../register/bin_path.yml

  - import_tasks: upload.yml
    tags: [nginx, upload, stream_master]
    when: stream_master|bool

  - import_tasks: nginx.yml
    tags: [nginx, nginx-vhost]

  - import_tasks: consul_template.yml
    tags: [consul-template]

  - import_tasks: iptables.yml
    tags: [firewall, iptables, nftables]

#  - import_tasks: sysctl.yml
#    tags: sysctl

  - import_tasks: collectd.yml
    tags: [collectd, monitoring]

  - import_tasks: relive.yml
    when: relive_master|bool
    tags: relive

  - import_tasks: upload-server.yml
    when: stream_master|bool
    tags: upload-server

  - import_tasks: register_relay.yml
    tags: register_relay
