# Run nagircbot on system startup?
ENABLE=yes

# Location of Nagios/Icinga's status.dat.
STATUSFILE=/var/lib/icinga/status.dat

# User to run as.
USER=nagios

# IRC server and port to connect to.
SERVER=irc.yolo.pro:9999

# IRC nickname to use.
NICK=vocinga-{{ event['acronym'] }}

# IRC channel to connect to, including the leading "#".
CHANNEL='#voc-icinga'

# Additonal arguments (see nagircbot man page).
OPTIONS="-e -C"
