STREAMNAME=fnord

PIPE_NUT="nut.pipe"
PIPE_INTERMEDIATE="master-ts.pipe"

# pipes to create
PIPES="${PIPE_NUT} ${PIPE_INTERMEDIATE}"

CMD_CAPTURE="/bin/true"

CMD_INTERMEDIATE="ffmpeg -y -f decklink -audio_channels 8 -i 'DeckLink Mini Recorder (1)@10' -aspect 16:9 -threads:0 0 \
-c:v libx264 \
-filter_complex '[0:v]yadif=mode=2, hqdn3d [deinter];
 [deinter] split [deinter_hd] [deinter_hd2];
 movie=/opt/voc/share/overlay_hd.png [logo_hd];
 [deinter_hd] [logo_hd] overlay=0:0 [out_hd];
 movie=/opt/voc/share/overlay_sd.png [logo_sd];
 [deinter_hd2] scale=720:576 [deinter_sd];
 [deinter_sd] [logo_sd] overlay=0:0 [out_sd];
 [0:a]channelsplit=channel_layout=7.1[a1][a2][a3][a4][a5][a6][a7][a8] ; [a4]anullsink;[a5]anullsink;[a6]anullsink;[a7]anullsink;[a8]anullsink' \
-map '[out_hd]' -maxrate:v:0 3000k -bufsize:v:0 8192k -crf:0 21 -pix_fmt:0 yuv420p -profile:v:0 main -g:v:0 25 -preset:v:0 veryfast \
-map '[out_sd]' -maxrate:v:1 800k -bufsize:v:1 8192k -crf:1 18 -pix_fmt:1 yuv420p -profile:v:1 main -g:v:1 25 -preset:v:1 veryfast \
-ac 1 -c:a libfdk_aac -b:a 96k -ar 44100 \
-map '[a1]' \
-map '[a2]' \
-map '[a3]' \
-ac:a:3 2 -map 0:a \
-y -f matroska pipe: > ${PIPEPATH}/${PIPE_INTERMEDIATE}"

CFG_SUPERTEE="supertee.ini"
