STREAMNAME=fnord

PIPE_NUT="nut.pipe"
PIPE_INTERMEDIATE="master-ts.pipe"

# pipes to create
PIPES="${PIPE_NUT} ${PIPE_INTERMEDIATE}"

CMD_CAPTURE="/bin/true"

CMD_INTERMEDIATE="ffmpeg -y -f decklink -i 'DeckLink Mini Recorder (1)@11' -aspect 16:9 -threads:0 0 \
-c:v libx264 \
-filter_complex 'yadif=mode=2, hqdn3d [deinter];
 [deinter] split [deinter_hd] [deinter_hd2];
 movie=/opt/voc/share/overlay_hd.png [logo_hd];
 [deinter_hd] [logo_hd] overlay=0:0 [out_hd];
 movie=/opt/voc/share/overlay_sd.png [logo_sd];
 [deinter_hd2] scale=720:576 [deinter_sd];
 [deinter_sd] [logo_sd] overlay=0:0 [out_sd]' \
-map '[out_hd]' -maxrate:v:0 3000k -bufsize:v:0 8192k -crf:0 21 -pix_fmt:0 yuv420p -profile:v:0 main -g:v:0 25 -preset:v:0 veryfast \
-map '[out_sd]' -maxrate:v:1 800k -bufsize:v:1 8192k -crf:1 18 -pix_fmt:1 yuv420p -profile:v:1 main -g:v:1 25 -preset:v:1 veryfast \
-ac 1 -c:a libfdk_aac -b:a 96k -ar 44100 \
-map 0:1 -filter:a:0 pan=mono:c0=FL \
-map 0:1 -filter:a:1 pan=mono:c0=FR \
-ac:a:2 2 -map 0:1 \
-y -f mpegts pipe: > ${PIPEPATH}/${PIPE_INTERMEDIATE}"

CFG_SUPERTEE="supertee.ini"
