#!/bin/sh

ffmpeg -nostdin -y -analyzeduration 1000000 \
	-i http://{{ relay_fanout.pull_endpoint }}/s{{ item }}_audio \
	{% for language in languages %}
		{% for codec in ['mp3', 'opus'] %}
			-c:a copy \
			{% if language == 'native' and codec == 'mp3' %}
				-map 0:a:0 \
			{% elif language == 'translated' and codec == 'mp3' %}
				-map 0:a:1 \
			{% elif language == 'translated-2' and codec == 'mp3' %}
				-map 0:a:2 \
			{% elif language == 'native' and codec == 'opus' %}
				-map 0:a:3 \
			{% elif language == 'translated' and codec == 'opus' %}
				-map 0:a:4 \
			{% elif language == 'translated-2' and codec == 'opus' %}
				-map 0:a:5 \
			{% endif %}
			\
			\
			-f {{ codec }} \
			-content_type audio/{{ codec }} \
			-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
			icecast://{{ relay_fanout.push_endpoint }}/s{{ item }}_{{ language }}.{{ codec }} \
			\
		{% endfor %}
	{% endfor %};
