#!/bin/sh

mkdir -p "{{ relay_fanout.dash_write_path }}/s{{ item }}"
rm -f {{ relay_fanout.dash_write_path }}/s{{ item }}/*.hdr
rm -f {{ relay_fanout.dash_write_path }}/s{{ item }}/*.chk

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 \
	-i http://{{ relay_fanout.pull_endpoint }}/s{{ item }}_vpx \
	-c:v copy \
	-map 0:v:0 -b:v:0 2800k \
{% if fanout_capabilities == 'extended' %}
	-map 0:v:1 -b:v:1 800k \
	-map 0:v:2 -b:v:2 100k \
{% endif %}
	\
	-c:a copy \
	-map 0:a:0 -b:a:0 96k -metadata:s:a:0 language="Native" \
{% if fanout_capabilities == 'extended' %}
	-map 0:a:1 -b:a:1 96k -metadata:s:a:1 language="Translated" \
	-map 0:a:2 -b:a:2 96k -metadata:s:a:2 language="Translated2" \
{% endif %}
	\
	-f dash \
	-window_size 20 -extra_window_size 10 -min_seg_duration 6000000 \
	-init_seg_name 'init_$RepresentationID$.hdr' \
	-media_seg_name 'segment_$RepresentationID$_$Number$.chk' \
{% if fanout_capabilities == 'extended' %}
	-adaptation_sets 'id=1,streams=v id=2,streams=3 id=3,streams=4 id=4,streams=5' \
{% else %}
	-adaptation_sets 'id=1,streams=v id=2,streams=1' \
{% endif %}
	{{ relay_fanout.dash_write_path }}/s{{ item }}/manifest.mpd
