#!/bin/sh

mkdir -p "{{ relay_fanout.hls_write_path }}/s{{ item }}"
rm -f {{ relay_fanout.hls_write_path }}/s{{ item }}/*.ts

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 1000000 \
	-i http://{{ relay_fanout.pull_endpoint }}/s{{ item }}_h264 \
		-c:v copy \
		-c:a copy \
		\
{% if fanout_capabilities == 'extended' %}
		-map '0:v:0' -map '0:v:1' -map '0:v:2' \
		-map '0:a:0' -map '0:a:0' -map '0:a:0' -map '0:a:1' -map '0:a:2' \
{% else %}
		-map '0:v:0' -map '0:v:1' \
		-map '0:a:0' -map '0:a:0' \
{% endif %}
		\
		-hls_init_time 6 \
		-hls_time 6 \
		-hls_list_size 200 \
		-use_localtime 1 \
		-hls_flags +delete_segments+omit_endlist \
{% if fanout_capabilities == 'extended' %}
		-var_stream_map 'v:0,a:0 v:1,a:1 v:2,a:2 a:3 a:4' \
{% else %}
		-var_stream_map 'v:0,a:0 v:1,a:1' \
{% endif %}
		{{ relay_fanout.hls_write_path }}/s{{ item }}/chunks.m3u8
