#!/bin/sh

mkdir -p "{{ relay_fanout.hls_write_path }}/s{{ item }}"
rm -f {{ relay_fanout.hls_write_path }}/s{{ item }}/*.ts

STARTTIME=$(date +%s)

ffmpeg -v warning -nostats -nostdin -y -analyzeduration 3000000 \
	-i http://{{ relay_fanout.pull_endpoint }}/s{{ item }}_h264 \
		-c:v copy \
		-c:a copy \
		\
		-map '0:v:0' \
{% if 'sd-and-slides' in fanout_capabilities %}
		-map '0:v:1' -map '0:v:2'  \
{% endif %}
		-map '0:a:0' \
{% if 'sd-and-slides' in fanout_capabilities %}
		-map '0:a:0' -map '0:a:0' \
{% endif %}
{% if 'translations' in fanout_capabilities %}
		-map '0:a:1' -map '0:a:2' \
{% endif %}
		\
		-hls_init_time 6 \
		-hls_time 6 \
		-hls_list_size 200 \
		-hls_segment_filename "{{ relay_fanout.hls_write_path }}/s{{ item }}/${STARTTIME}-%d.ts" \
		-hls_flags +delete_segments+omit_endlist \
		-var_stream_map 'v:0,a:0 {% if 'sd-and-slides' in fanout_capabilities %}v:1,a:1 v:2,a:2{% endif %} {% if 'translations' in fanout_capabilities and not 'sd-and-slides' in fanout_capabilities%}a:1 a:2{% endif %} {% if 'translations' in fanout_capabilities and 'sd-and-slides' in fanout_capabilities%}a:3 a:4{% endif %}' \
		{{ relay_fanout.hls_write_path }}/s{{ item }}/chunks.m3u8
