#EXTM3U
#EXT-X-VERSION:3

#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="audio",NAME="Native",DEFAULT={% if item.1 == 'native' %}YES{% else %}NO{% endif %}

{% if 'translations' in fanout_capabilities %}
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="audio",NAME="Translation 1",DEFAULT={% if item.1 == 'translated' %}YES{% else %}NO{% endif %},URI="s{{ item.0 }}/chunks_3.m3u8"
#EXT-X-MEDIA:TYPE=AUDIO,GROUP-ID="audio",NAME="Translation 2",DEFAULT={% if item.1 == 'translated-2' %}YES{% else %}NO{% endif %},URI="s{{ item.0 }}/chunks_4.m3u8"
{% endif %}

{% if item.2 == 'hd' %}
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=5000000,RESOLUTION=1920x1080,CODECS="avc1.4d0228,mp4a.40.2",AUDIO="audio"
s{{ item.0 }}/chunks_0.m3u8
{% endif %}
{% if (item.2 == 'hd' or item.2 == 'sd') and ('sd-and-slides' in fanout_capabilities) %}
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=800000,RESOLUTION=1024x576,CODECS="avc1.4d0228,mp4a.40.2",AUDIO="audio"
s{{ item.0 }}/chunks_1.m3u8
{% endif %}
{% if (item.2 == 'hd' or item.2 == 'sd' or item.2 == 'slides') and ('sd-and-slides' in fanout_capabilities) %}
#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=100000,RESOLUTION=1024x576,CODECS="avc1.4d0228,mp4a.40.2",AUDIO="audio"
s{{ item.0 }}/chunks_2.m3u8
{% endif %}
