#!/bin/sh

ffmpeg -nostdin -y -analyzeduration 1000000 \
	-i http://{{ relay_fanout.pull_endpoint }}/s{{ item }}_vpx \
{% for language in languages %}
	{% for quality in qualities %}
		-c:v copy \
		{% if quality == 'hd' %}
			-map 0:v:0 \
		{% elif quality == 'sd' %}
			-map 0:v:1 \
		{% elif quality == 'slides' %}
			-map 0:v:2 \
		{% endif %}
		\
		\
		-c:a copy \
		{% if language == 'native' %}
			-map 0:a:0 \
		{% elif language == 'translated' %}
			-map 0:a:1 \
		{% elif language == 'translated-2' %}
			-map 0:a:2 \
		{% endif %}
		\
		\
		-f webm \
		-cluster_size_limit 3M \
		-cluster_time_limit 3500 \
		-content_type video/webm \
		-password {{ lookup('keepass', 'ansible/icecast/icedist/source.password') }} \
		icecast://{{ relay_fanout.push_endpoint }}/s{{ item }}_{{ language }}_{{ quality }}.webm \
		\
	{% endfor %}
{% endfor %};
