Package: *
Pin: release l=Unofficial Multimedia Packages
Pin-Priority: 20

Package: ffmpeg libaacplus2 libaacs0 libavcodec56 libavdevice56 libavfilter5 libavformat56 libavresample2 libavutil54 libbluray1 libfaac0 libfdk-aac1 libmp3lame0 libpostproc53 libswresample1 libswscale3 libutvideo15 libvidstab1.0 libx264-146 libx265-51 libxvidcore4
Pin: release l=Unofficial Multimedia Packages
Pin-Priority: 600
