options rotate timeout:1 attempts:5
{% if 'lan.c3voc.de' in ansible_domain and 'router.lan.c3voc.de' not in ansible_fqdn and use_lan_dns %}
# voc gateway
nameserver 10.73.0.254
{% elif 'router.lan.c3voc.de' in ansible_fqdn or 'mng.ber.c3voc.de' in ansible_fqdn %}
# unbound / local bind
nameserver ::1
{% elif 'dus.c3voc.de' in ansible_domain %}
# rrbone
nameserver 195.182.2.2
{% endif %}
# as250
nameserver 194.150.168.168
nameserver 2001:4ce8::53
# FoeBud
nameserver 46.182.19.48
nameserver 2a02:2970:1002::18 
