[server]
host=10.73.{{ room_number }}.3

[previews]
width=325
;height=180

; true = use if the server provides it
; false = never use it
use=true

[mainvideo]
playaudio=false

[videodisplay]
# Use OpenGL - buggy
#system=gl

# Use XVideo - oldschool
#system=xv

# Use simple X-Images - least performant
#system=x

# Use VAAPI acceleration - really fast and resource saving
system=vaapi

[toolbar]
close=false
cut=false
