Port 22

PermitRootLogin No
Protocol 2
AuthorizedKeysFile .ssh/authorized_keys
GSSAPIAuthentication no
KerberosAuthentication no
ChallengeResponseAuthentication no
PasswordAuthentication no
PubkeyAuthentication yes
UseDNS no

LogLevel INFO
X11Forwarding yes
% if node.in_group('encoders'):
X11UseLocalhost no
% endif
IgnoreRhosts yes
HostbasedAuthentication no
PermitEmptyPasswords no
PermitUserEnvironment no
# This is the BSI recommended configuration as of 2026-05-01, but it doesn't
# include quantum safe algorithms, so ssh spits out a warning. Just stick with
# the defaults for now.
# Check "Technische Richtlinie TR-02102-4" in the future, if you want.
#Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
#MACs hmac-sha2-256,hmac-sha2-512
#KexAlgorithms diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521
LoginGraceTime 60
AllowUsers ${' '.join(sorted(login_users))}
UsePAM yes
AllowTcpForwarding yes
AllowAgentForwarding yes
PrintMotd no

MaxSessions 512
MaxStartups 512:30:768

Subsystem sftp internal-sftp
% for address in allow_password_auth_for_addresses:

Match Address ${address}
    PasswordAuthentication yes
% endfor

Match Group sftp
    ChrootDirectory %h
    ForceCommand internal-sftp
    PasswordAuthentication no
