---
- name: Install haproxy package
  ansible.builtin.apt:
    name: haproxy
    state: present

- name: Setup dehydrated hook to combine certs for haproxy
  ansible.builtin.template:
    src: haproxy/letsencrypt-hook.sh
    dest: /etc/dehydrated/hook.d/25-haproxy.sh
    mode: "0755"
  register: letsencrypt_hook

- name: Run dehydrated hook once to combine certs for haproxy
  ansible.builtin.command: /etc/dehydrated/hook.d/25-haproxy.sh deploy_cert "{{ item }}"
  loop:
    - cdn.c3voc.de
    - streaming.media.ccc.de
  when: letsencrypt_hook.changed

- name: Install http error files
  ansible.builtin.copy:
    src: "haproxy/error/{{ item }}"
    dest: "/var/lib/haproxy/{{ item }}"
  with_items:
    - 500.http
    - 502.http
    - 503.http

- name: Remove haproxy logrotate, because we only use journal
  ansible.builtin.file:
    path: /etc/logrotate.d/haproxy
    state: absent

# configure haproxy
- name: Create haproxy chroot directory
  ansible.builtin.file:
    dest: /usr/share/haproxy
    state: directory
    mode: "0750"
    owner: haproxy
    group: haproxy
- name: Copy usa ip list
  ansible.builtin.copy:
    src: usa_subnetworks.txt
    dest: /etc/haproxy/usa_subnetworks.txt
    mode: "0755"
    owner: haproxy
    group: haproxy
- name: Copy dtag ip list
  ansible.builtin.copy:
    src: dtag_subnetworks.txt
    dest: /etc/haproxy/dtag_subnetworks.txt
    mode: "0755"
    owner: haproxy
    group: haproxy

- name: Install haproxy cors script
  ansible.builtin.copy:
    src: "haproxy/cors.lua"
    dest: "/etc/haproxy/cors.lua"
    mode: "0644"
  register: haproxy_scripts
  tags: haproxy_deploy

- name: Create override dir for haproxy systemd service
  ansible.builtin.file:
    dest: /etc/systemd/system/haproxy.service.d
    state: directory
    mode: "0755"
  tags: haproxy_deploy

- name: Override nofiles limit for haproxy
  ansible.builtin.copy:
    dest: /etc/systemd/system/haproxy.service.d/override.conf
    content: |
      [Unit]
      StartLimitIntervalSec=0

      [Service]
      LimitNOFILE=1048576
      RestartSec=3s
      RestartMaxDelaySec=10s
      RestartSteps=3
    mode: "0644"
  register: haproxy_nofiles
  tags: haproxy_deploy

- name: Reload and enable haproxy
  ansible.builtin.service:
    name: haproxy
    enabled: true
  when: haproxy_scripts.changed and not haproxy_nofiles.changed
  tags: haproxy_deploy

- name: Restart and enable haproxy
  ansible.builtin.service:
    name: haproxy
    daemon_reload: true
    state: restarted
    enabled: true
  when: haproxy_nofiles.changed
  tags: haproxy_deploy
