---
  - name: install haproxy package
    apt: name=haproxy state=present

  - name: setup dehydrated hook to combine certs for haproxy
    template:
      src: haproxy/letsencrypt-hook.sh
      dest: /etc/dehydrated/hook.d/25-haproxy.sh
      mode: 0755
    register: letsencrypt_hook

  - name: run dehydrated hook once to combine certs for haproxy
    command: /etc/dehydrated/hook.d/25-haproxy.sh deploy_cert "{{ item }}"
    loop:
      - cdn.c3voc.de
      - streaming.media.ccc.de
    when: letsencrypt_hook.changed

  - name: install http error files
    copy:
      src: "error/{{ item }}"
      dest: "/var/lib/haproxy/{{ item }}"
    with_items:
      - 500.http
      - 502.http
      - 503.http

  # configure haproxy
  - name: create haproxy chroot directory
    file: dest=/usr/share/haproxy state=directory
          mode=0750 owner=haproxy group=haproxy

  - name: copy usa ip list
    copy: src=usa_subnetworks.txt
          dest=/etc/haproxy/usa_subnetworks.txt
          mode=0755 owner=haproxy group=haproxy

  - name: copy dtag ip list
    copy: src=dtag_subnetworks.txt
          dest=/etc/haproxy/dtag_subnetworks.txt
          mode=0755 owner=haproxy group=haproxy

  - name: create haproxy config
    template: src=haproxy/haproxy.cfg.j2
              dest=/etc/haproxy/haproxy.cfg
              owner=root group=root mode=0640
              validate='haproxy -f %s -c'
    register: haproxy_config
    tags: haproxy_deploy

  - name: reload and enable haproxy
    service:
      name: haproxy
      state: reloaded
      enabled: yes
    when: haproxy_config.changed
    tags: haproxy_deploy
