---
- import_tasks: nginx.yml
  tags: nginx

- import_tasks: streaming_website.yml
  tags: streaming_website

- import_tasks: haproxy.yml
  tags: haproxy

- import_tasks: consul_template.yml
  tags: consul-template

- import_tasks: sysctl.yml
  tags: sysctl

- import_tasks: telegraf.yml
  tags: [telegraf, monitoring]