---
- name: Deploy nginx config
  ansible.builtin.import_tasks: nginx.yml
  tags: nginx

- name: Deploy streaming website
  ansible.builtin.import_tasks: streaming_website.yml
  tags: streaming_website

- name: Deploy haproxy config
  ansible.builtin.import_tasks: haproxy.yml
  tags: haproxy

- name: Deploy consul-template for writing haproxy config
  ansible.builtin.import_tasks: consul_template.yml
  tags: consul-template

- name: Tweak sysctl settings
  ansible.builtin.import_tasks: sysctl.yml
  tags: sysctl

- name: Deploy loadbalancer telegraf config
  ansible.builtin.import_tasks: telegraf.yml
  tags: [telegraf, monitoring]
