---
# Create needed directories
- name: Added nginx htdocs and caching directories
  ansible.builtin.file:
    dest: /srv/nginx/{{ item }}
    owner: www-data
    group: www-data
    state: directory
    mode: "0755"
  with_items:
    - "cache/streaming_fcgi/"
    - "cache/tmp"
  tags:
    - install

# Manage vhost
- name: Create loadbalancer vhost
  ansible.builtin.template:
    dest: "/etc/nginx/sites-enabled/{{ item }}.conf"
    src: "nginx/vhosts/{{ item }}.conf.j2"
    mode: "0640"
    owner: root
    group: root
  with_items:
    - streaming.media.ccc.de
  notify:
    - reload nginx
  tags:
    - config
    - install