---
- name: Add telegraf to mqttfeedback group
  ansible.builtin.user:
    name: telegraf
    groups: mqttfeedback
    append: true

# Setup telegraf plugin
- name: Template haproxy telegraf config
  ansible.builtin.template:
    src: telegraf_loadbalancer.toml
    dest: /etc/telegraf/telegraf.d/haproxy.conf
    mode: "0644"
  register: telegraf_haproxy

- name: Reload telegraf
  ansible.builtin.service:
    name: telegraf
    state: reloaded
  when: telegraf_haproxy.changed
