STREAMNAME=fnord

PIPE_CAPTURE="capture.pipe.dv"
PIPE_INTERMEDIATE="master-ts.pipe"

# pipes to create
PIPES="${PIPE_CAPTURE} ${PIPE_INTERMEDIATE}"

CMD_CAPTURE="dvsink-command-voc -h 10.73.{{ room_number }}.1 -p 2000 -- sh -c 'cat - > ${PIPEPATH}/${PIPE_CAPTURE}'"

CMD_INTERMEDIATE="ffmpeg -y -f dv -re -i ${PIPEPATH}/${PIPE_CAPTURE} -aspect 16:9 -threads:0 0 \
-c:v libx264 \
-filter:v 'movie=/opt/voc/share/overlays/saal{{ room_number }}_sd.png [logo]; [in] [logo] overlay=0:0,hqdn3d [out]' \
-map 0:0 -maxrate:v:0 1000k -bufsize:v:0 8192k -crf:0 18 -pix_fmt:0 yuv420p -profile:v:0 main -g:v:0 25 -preset:v:0 medium \
-map 0:0 -maxrate:v:1 500k -bufsize:v:1 8192k -crf:1 21 -s:1 450x360 -pix_fmt:1 yuv420p -profile:v:1 baseline -g:v:1 25 -preset:v:1 medium \
-ac 1 -c:a libfdk_aac -b:a 96k -ar 44100 \
-map 0:1 -filter:a:0 pan=mono:c0=FL \
-map 0:1 -filter:a:1 pan=mono:c0=FR \
-y -f mpegts pipe: > ${PIPEPATH}/${PIPE_INTERMEDIATE}"

CFG_SUPERTEE="supertee.ini"
