[system]
start = rtmp_native_hq rtmp_native_lq rtmp_translated_hq rtmp_translated_lq

[reader]
source = ${PIPEPATH}/${PIPE_INTERMEDIATE}
frameSize = 188000

[rtmp_native_hq]
command = ffmpeg -re -f mpegts -i - -map 0:0 -map 0:2 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_native_hq

[rtmp_native_lq]
command = ffmpeg -re -f mpegts -i - -map 0:1 -map 0:2 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_native_lq

[rtmp_translated_hq]
command = ffmpeg -re -f mpegts -i - -map 0:0 -map 0:3 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_translated_hq

[rtmp_translated_lq]
command = ffmpeg -re -f mpegts -i - -map 0:1 -map 0:3 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_translated_lq

[rtmp_stereo_hq]
command = ffmpeg -re -f mpegts -i - -map 0:0 -map 0:4 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_stereo_hq

[rtmp_stereo_lq]
command = ffmpeg -re -f mpegts -i - -map 0:1 -map 0:4 -c:v:0 copy -c:a:0 libfdk_aac -b:a 96k -ar 44100 -f flv rtmp://127.0.0.1:1935/stream/saal{{ room_number }}_stereo_lq
