# See "Direnv Integration" section: https://nixos.wiki/wiki/Flakes
# Lorri doesn't really work with flakes yet.
# See https://github.com/target/lorri/issues/460
mkdir -p "$(direnv_layout_dir)"
watch_file flake.nix
watch_file flake.lock
eval "$(nix print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
