[Service]
ExecStart=/usr/bin/ruby /usr/local/src/mqtt/provider/feedback/client.rb
Restart=always
User=mqttfeedback
Group=www-data

[Install]
WantedBy=multi-user.target
