[Unit]
Description=Sidekiq job runner for media.ccc.de
After=network.target

[Service]
Type=simple
WorkingDirectory=/vagrant
User=ubuntu
ExecStart=/usr/local/bin/bundle exec sidekiq --index 0 --environment development
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=voctoweb-sidekiq

[Install]
WantedBy=default.target
