[Unit]
Description=Puma application server for media.ccc.de
After=network.target

[Service]
WorkingDirectory=/srv/media/media-site/current
Environment=RAILS_ENV=production
User=media
PIDFile=/srv/media/media-site/shared/tmp/pids/puma.pid
ExecStart=/srv/media/.rvm/bin/rvm {{ ruby_version }}@media-site do bundle exec puma -C /srv/media/media-site/shared/config/puma.rb
ExecStop=/srv/media/.rvm/bin/rvm {{ ruby_version }}@media-site do bundle exec pumactl stop -p /srv/media/media-site/shared/tmp/pids/puma.pid
ExecReload=/usr/bin/touch /srv/media/media-site/shared/tmp/restart.txt
Restart=always
SyslogIdentifier=voctoweb-puma

[Install]
WantedBy=default.target
