[Unit]
Description = voctomix gui
After=network.target

[Service]
Type = simple
ExecStart = /opt/voctomix/release/voctogui/voctogui.py --ini-file /opt/voctomix/voctogui-config.ini --ui /opt/voctomix/voctomix-alternative-gui/alternative.ui -vv
Restart = always
RestartSec = 1s
StartLimitInterval = 0
User=mixer
Group=mixer

Environment="DISPLAY=:0"
Environment="GTK_THEME=Adwaita:dark"

[Install]
WantedBy = multi-user.target
