user  www-data;

# Specifies the value for maximum file descriptors that can be opened by this process.
worker_rlimit_nofile 65536;

# multiple worker
worker_processes  {{ nginx_worker_processes | default('auto') }};

error_log  /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
  worker_connections  {{ nginx_worker_connections | default('4096') }};
}

http {
  server_tokens off;

  types_hash_max_size 2048;

{% if anonymize_logs %}
  map $remote_addr $remote_addr_anon {
      ~(?P<ip>\d+\.\d+\.\d+)\.    $ip.0;
      ~(?P<ip>[^:]+:[^:]+):       $ip::;
      127.0.0.1                   $remote_addr;
      ::1                         $remote_addr;
      default                     0.0.0.0;
  }
  log_format ip '$remote_addr_anon - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';
{% else %}
  log_format ip '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent"';
{% endif %}

{% if default_access_log %}
  access_log /var/log/nginx/access.log ip buffer=128k flush=30s;
{% else %}
  access_log off;
{% endif %}

  # mime-types
  default_type application/octet-stream;

  include /etc/nginx/mime.types;

  types {
    application/dash+xml mpd;
  }

  # gzip settings
  gzip on;
  gzip_disable "msie6";
  gzip_comp_level 6;
  gzip_min_length  1100;
  gzip_buffers 16 8k;
  gzip_proxied any;
  gzip_vary on;
  gzip_types text/plain
    text/css
    text/js
    application/x-javascript
    text/javascript
    application/json;

  # sendfile() copies data between one file descriptor and another.
  # Because this copying is done within the kernel, sendfile() is more
  # efficient than the combination of read(2) and write(2), which would
  # require transferring data to and from user space.
  sendfile on;

  # disable directory listing
  autoindex off;

  # tls defaults
  ssl_protocols         TLSv1.2 TLSv1.3;
  ssl_ciphers          'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!3DES:!MD5:!PSK';
  ssl_dhparam           /etc/ssl/dhparam2048.pem;
  ssl_prefer_server_ciphers on;

  ssl_session_cache   shared:ssl_session_cache:10m;
  ssl_session_timeout 5m;

  ssl_stapling on;
  ssl_stapling_verify on;
  resolver 127.0.0.53;

  map $http_x_proto $use_https {
    default off;
    https on;
  }

  # include vhosts
  include /etc/nginx/sites-enabled/*;

  # dynamic config
  include /etc/nginx/conf.d/*;

{% if php|bool %}
  upstream php {
    server unix:/run/php/php{{ php_version }}-fpm.sock;
  }
{% endif %}

{% if default_server %}
  server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location ^~ /.well-known/acme-challenge {
      alias /var/www/dehydrated;
    }

    location / {
      return 307 https://$host$request_uri;
    }
  }
{% endif %}

  # vhost for stats
  server {
    server_name _;

    listen 127.0.0.1:8999;

    # stats
    location ~* ^/stats/nginx {
      stub_status on;
      access_log   off;

{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
    }

{% if rtmp|bool %}
    location ~* ^/stats/rtmp {
{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
      access_log   off;
      proxy_pass http://127.0.0.1:9999;
    }

    location /control {
      allow ::1;
      allow 127.0.0.1;
      deny all;
      access_log   off;
      proxy_pass http://127.0.0.1:9999;
    }
{% endif %}

{% if php|bool %}
    location ~* ^/stats/php {
      access_log off;

      include /etc/nginx/fastcgi_params;
      fastcgi_pass php;
      fastcgi_keep_conn on;
      fastcgi_param SCRIPT_FILENAME $fastcgi_script_name;

{% for ip in nginx_ips_allow_stats %}
      allow {{ ip }};
{% endfor %}
      deny all;
    }
{% endif %}
  }
}
