#MANAGED BY ANSIBLE
[Unit]
Description = RTMP-Auth Backend

[Service]
ExecStart = /opt/voc/rtmp-auth -config /etc/rtmp-auth/config.toml
User = stream-api
Restart = always

[Install]
WantedBy = multi-user.target
