#MANAGED BY ANSIBLE

[Unit]
Description = voctomix2 core
After=network.target

[Service]
Type = notify
WorkingDirectory = /opt/voctomix2/release
ExecStart = /opt/voctomix2/release/voctocore/voctocore.py --ini-file /opt/voctomix2/voctocore-config.ini -vv
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target
