---
- name: Setup the influxdata repo
  ansible.builtin.deb822_repository:
    name: influxdata
    types: deb
    uris: https://repos.influxdata.com/debian
    suites: stable
    components: [main]
    signed_by: "{{ lookup('file', 'influxdata-archive.key') }}"
  tags: [apt, repos]

- name: install telegraf
  apt:
    name:
      - telegraf
    state: present
  tags: apt

- name: template telegraf config
  template:
    src: telegraf/telegraf.conf
    dest: /etc/telegraf/
    group: telegraf
    mode: 0640
  register: telegraf_config

- name: copy dns script
  copy: src=dns-stats.py dest=/opt/dns-stats.py mode=0755
  when: monitoring_role is defined and monitoring_role == "dns"

- name: reload telegraf
  service:
    name: telegraf
    state: reloaded
  when: telegraf_config.changed
