[Unit]
Description=${mount}
After=network.target

[Mount]
What=${serverpath}
Where=${mountpoint}
Type=cifs
Options=${opts}

[Install]
WantedBy=multi-user.target
