IC_IP="10.73.111.4"
RTMP_SERVER="10.73.111.4"
IC_PASSWD="crazy6cove9scene"

# room -> host mapping
{% if transcoding_mkv_sources is defined %}
{% for item in transcoding_mkv_sources %}
ENCODERS[{{ item['room'] }}]="{{ item['host'] }}"
{% endfor %}
{% endif %}
