---

server:
  type: "static"
  streams:
{% if transcode_streams is defined %}
{% for stream in transcode_streams %}
    - "{{ stream }}"
{% endfor %}
{% endif %}

#metrics:
#  influx:
#    host: "http://127.0.0.1:8086"
#    database: "..."
#    username: "..."
#    password: "..."

times:
  sink_restart_delay: 8
  source_timeout: 6
#  source_restart_delay: 3
#  server_poll_interval: 5
#  server_request_timeout: 3
#  server_timeout: 16
#  idle_time: 0

misc:
#  reuse_screens: true
  restart_when_sink_dies: true

source_buffer:
  buffer_count: 64
  buffer_size: 131072

sink_buffer:
  buffer_count: 24

flows:
  "video_direct":
    regexp: "^s\\d+_direct.mkv$"
    source: "./source_direct.sh {stream}"
    sinks:
      "webm_hd_native": "./sink_video.sh {stream} hd native"
      "webm_hd_translated": "./sink_video.sh {stream} hd translated"
      "webm_sd_native": "./sink_video.sh {stream} sd native"
      "webm_sd_translated": "./sink_video.sh {stream} sd translated"
      "opus_native": "./sink_audio_opus.sh {stream} 0 native"
      "opus_translated": "./sink_audio_opus.sh {stream} 1 translated"
      "mp3_native": "./sink_audio_mp3.sh {stream} 3 native"
      "mp3_translated": "./sink_audio_mp3.sh {stream} 4 translated"
      "icedist": "./sink_icedist.sh {stream} direct"

  "video_vocto":
    regexp: "^s\\d+_vocto.mkv$"
    source: "./source_vocto.sh {stream}"
    sinks:
      "webm_hd_native": "./sink_video.sh {stream} hd native"
      "webm_hd_translated": "./sink_video.sh {stream} hd translated"
      "webm_sd_native": "./sink_video.sh {stream} sd native"
      "webm_sd_translated": "./sink_video.sh {stream} sd translated"
    #  "webm_slides_native": "./sink_video.sh {stream} slides native"
    #  "webm_slides_translated": "./sink_video.sh {stream} slides translated"
      "opus_native": "./sink_audio_opus.sh {stream} 0 native"
      "opus_translated": "./sink_audio_opus.sh {stream} 1 translated"
      "mp3_native": "./sink_audio_mp3.sh {stream} 2 native"
      "mp3_translated": "./sink_audio_mp3.sh {stream} 3 translated"
      "icedist": "./sink_icedist.sh {stream} vocto"
