#!/bin/bash
# Transcodes to Multi-Quality h.264

while getopts "s:h" opt; do
  case $opt in
    s)
      STREAM=${OPTARG}
      ;;
    h)
      SHOW_HELP=1
      ;;
    \?)
      echo "Invalid option: -$OPTARG" >&2
      exit 1
      ;;
    :)
      echo "Option -$OPTARG requires an argument." >&2
      exit 1
      ;;
  esac
done

if [[ ${SHOW_HELP} || ! ${STREAM} ]]; then
  NAME=`basename "${0}"`
  echo "usage: ${NAME} -s STREAM
  -s STREAM - Stream name
  -h - Show this help"
  exit 1
fi

ffmpeg -y -hide_banner\
  -i "http://localhost:7999/${STREAM}" \
  -fflags +genpts -flags +global_header -aspect 16:9 -pix_fmt yuv420p -threads 0 \
  \
  -c:v libx264 -r 25 -g 50 -x264opts keyint=50:scenecut=-1 -preset:v veryfast -profile:v main -crf 21 \
  \
{% for q in transcoder_video_qualities %}
{% set i = loop.index0 %}
{% set b = q.bitrate %}
  -map v:0 -s:v:{{i}} {{q.width}}x{{q.height}} -bufsize:v:{{i}} {{b}}M -maxrate:v:{{i}} {{b}}M \
  -metadata:s:v:{{i}} title={{q.height}}p \
{% endfor %}
  \
  -c:a aac -ar 48000 -b:a 128k -ac 1 -strict -2 \
  -map a:0 -map a:1? -map a:2? \
  \
  -f matroska -ice_public 1 -content_type video/webm icecast://source:source@localhost:7999/${STREAM}_h264
