[Unit]
Description=CRS runner for ${script}
Requires=${' '.join(sorted(systemd_after))}
After=${' '.join(sorted(systemd_after))}
ConditionPathExists=/video

[Service]
User=voc
Group=voc

ExecStart=/opt/crs-scripts/bin/crs_run ${script}
WorkingDirectory=/opt/crs-scripts
SyslogIdentifier=crs-${worker}
EnvironmentFile=/etc/crs-scripts/${secret}

Restart=always
RestartSec=10
RestartPreventExitStatus=250
SuccessExitStatus=250

% if pin_to_performance:
[Manager]
CPUAffinity=0-11
% endif

[Install]
% if autostart:
WantedBy=multi-user.target
% else:
WantedBy=crs-worker.target
% endif
