[Unit]
Description=CRS: restore fuse mounts

[Service]
User=voc
Group=voc
Type=oneshot
ExecStart=/opt/crs-scripts/bin/restore-fuse-mounts.sh
WorkingDirectory=/opt/crs-scripts
EnvironmentFile=/etc/crs-scripts/meta
SuccessExitStatus=250
