[Unit]
Description=rsync recordings from encoder
ConditionPathIsReadWrite=/video/capture

[Service]
User=voc
Group=voc
ExecStart=/usr/local/sbin/rsync-from-encoder %i ${slug}
Restart=on-failure
RestartSec=10
