[Unit]
Description=Template config files from Consul
After=network.target consul.service
{% for unit in consul_template_before_units %}
Before={{ unit }}
{% endfor %}

[Service]
Type=simple
ExecStart=/usr/local/bin/consul-template \
{% for template in consul_template_templates %}
  -template "{{ template }}" \
{% endfor %}
  -default-left-delimiter '[[' -default-right-delimiter ']]'
Restart=on-failure
ExecReload=/usr/bin/env kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
{% for unit in consul_template_before_units %}
WantedBy={{ unit }}
{% endfor %}
