# runs proxmox
dummy = true

# Needs user 'root' for apply.
# Please install packages 'sudo', 'jq' and 'mosquitto-clients' manually.
bundles = ["mqtt-monitoring", "systemd", "systemd-timers"]

ipmi_hostname = "10.73.200.3"
ipmi_username = "root"
ipmi_password = "!decrypt:encrypt$gAAAAABny_xTBVp9cCPUc-acstouz8J5C6KW36QKmJyZYXs6yL4Ll39p9NxJVwJqsiXwacBOLDQMcE5NDYU1PRS1DR66XZVu8w=="
ipmi_interface = "lanplus"

[metadata.mqtt-monitoring]
plugins = ["zfs_status"]
