bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder2"
encoding.token = "!kee_user:ansible|worker-groups|encoder2"
meta.secret = "!kee_pass:ansible|worker-groups|encoder2-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder2-meta"

[metadata.event]
room_name = "Saal GLITCH"

[metadata.interfaces.eth0]
ips = ["10.73.2.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNAla1u8QC8xEqxSbtHs3PFLVTluTMgb7KdkPmiohsYStvBz9M7yhqKRz2rhjMHnnT_7zt3ZAVlxnseIdTCUmLb0Ov5_wiDC9rbPtci751ZUPi-I="

[metadata.voctocore.sources.cam1]
devicenumber = 3
mode = "1080i50"

[metadata.voctocore.sources.cam2]
devicenumber = 2
mode = "1080i50"

[metadata.voctocore.sources.cam3]
devicenumber = 0
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 1
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "slides"

[metadata.voctocore.audio.translated]
streams = "2+3"
input = "slides"

[metadata.voctocore.audio.translated2]
streams = "4+5"
input = "slides"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-WDC_WD30EFRX-68AX9N0_WD-WMC1T3192687",
    "/dev/disk/by-id/ata-ST3000DM001-1ER166_Z501LTC8",
]
