bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder2"
encoding.token = "!kee_user:ansible|worker-groups|encoder2"
meta.secret = "!kee_pass:ansible|worker-groups|encoder2-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder2-meta"

[metadata.event]
room_name = "HS1 (Aula)"

[metadata.systemd-networkd.links.usb0]
macs = ["20:7b:d2:89:2b:5d", "20:7b:d2:b3:7a:38", "20:7b:d2:89:36:63", "20:7b:d2:92:96:d4"]

[metadata.interfaces.usb0]
vxlans = ['vxlan0']
dhcp = true

[metadata.interfaces.br0]
ips = ["10.73.2.3/16"]

[metadata.interfaces.br0.routes.'10.44.0.0/16']
via = '10.73.0.254'

[metadata.interfaces.br0.routes.'10.9.0.0/16']
via = '10.73.0.254'

[metadata.systemd-networkd.vxlan.vxlan0]
vni = "102"
local = "10.87.2.148"
remote = "10.87.2.152"

[metadata.systemd-networkd.bridges.br0]
match = ['eth0', 'vxlan0']
mac = "70:85:c2:5b:4e:c6"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNAla1u8QC8xEqxSbtHs3PFLVTluTMgb7KdkPmiohsYStvBz9M7yhqKRz2rhjMHnnT_7zt3ZAVlxnseIdTCUmLb0Ov5_wiDC9rbPtci751ZUPi-I="

[metadata.voctocore.sources.cam1]
devicenumber = 3
mode = "1080i50"

[metadata.voctocore.sources.cam2]
devicenumber = 2
mode = "1080p25"

[metadata.voctocore.sources.slides]
devicenumber = 1
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-WDC_WD30EFRX-68AX9N0_WD-WMC1T3192687",
    "/dev/disk/by-id/ata-ST3000DM001-1ER166_Z501LTC8",
]
