bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder3"
encoding.token = "!kee_user:ansible|worker-groups|encoder3"
meta.secret = "!kee_pass:ansible|worker-groups|encoder3-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder3-meta"

[metadata.event]
room_name = "C205 - IFG Arena"

[metadata.interfaces.eth0]
ips = ["10.73.3.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYjN4gPPKKkywsLJdC9zZItzoy55F_RlJ1TfVBnUQ5uWJemWBTDfgGBbPn4FY6394SyWc805aw_IWietgxQEhhHdLkwWyWi8tWUWk5JViE2K1Cg="
parallel_slide_streaming = false
mirror_view = true

[metadata.voctocore.sources.cam1]
devicenumber = 3
mode = "1080p25"

#[metadata.voctocore.sources.cam2]
#devicenumber = 2
#mode = "1080p25"

#[metadata.voctocore.sources.cam3]
#devicenumber = 5
#mode = "1080p25"

[metadata.voctocore.sources.slides]
devicenumber = 4
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y301114F",
    "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y304432A",
]
