bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder5"
encoding.token = "!kee_user:ansible|worker-groups|encoder5"
meta.secret = "!kee_pass:ansible|worker-groups|encoder5-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder5-meta"

[metadata.event]
room_name = "Saal B"

[metadata.interfaces.eth0]
ips = ["10.73.5.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYkgCo1Orl_R7yyMpMUhESSGiBvMRZy6J3DXw7PWsS7XDvmYjJktYpwn-pdO_CnHzoxbB1OpBh-MfdPZnt7WTA7Vh7V55KPjGpnj73uCHn6fpu8="
enable_sbs_presets_with_slides = false
enable_sbs_presets_for_multi_camera = false
fps=50

[metadata.voctocore.sources.cam1]
devicenumber = 5
mode = "1080p50"

[metadata.voctocore.sources.cam2]
devicenumber = 4
mode = "1080p50"

[metadata.voctocore.sources.cam3]
devicenumber = 2
mode = "1080p50"

[metadata.voctocore.sources.slides]
devicenumber = 3
mode = "1080p50"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam3"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y304437R",
    "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y304459J",
]
