bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder3"
encoding.token = "!kee_user:ansible|worker-groups|encoder3"
meta.secret = "!kee_pass:ansible|worker-groups|encoder3-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder3-meta"

[metadata.event]
room_name = "Content"

[metadata.interfaces.eth0]
ips = ["10.73.3.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYjN4gPPKKkywsLJdC9zZItzoy55F_RlJ1TfVBnUQ5uWJemWBTDfgGBbPn4FY6394SyWc805aw_IWietgxQEhhHdLkwWyWi8tWUWk5JViE2K1Cg="


[metadata.voctocore.sources.cam1]
devicenumber = 0
mode = "1080i50"

[metadata.voctocore.sources.cam2]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 4
mode = "1080p25"

[metadata.voctocore.sources.cam3]
devicenumber = 5
mode = "1080i50"
hdmi = true


[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.voctocore.audio.translated-1]
input = "cam2"
streams = "0"




[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-WDC_WD30EFRX-68AX9N0_WD-WMC1T3160694",
    "/dev/disk/by-id/ata-ST3000NC002-1DY166_Z1F37M3A",
]
