hostname = "172.19.164.90"
bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!decrypt:encrypt$gAAAAABoPzl5EyCYLqrrAQC0RGNAPydnHSzsMTIsLdxAG1R2hAJmM7-vjqRhPBOncAyAkuIXpUl2_4x1t0D6r0Ars2KswGZo-F_8m0pwV8QWicXJ27peja_XMUaYlfHeMw6yuy6TVTeH"
encoding.token = "!decrypt:encrypt$gAAAAABoPzlXzvkh--C05TzCH_PwKIEPgb7RWcVoQOKCrkbXtiJVpyHS51OVXF1leL5IRWg-hyEYUjfqZdLfOyGF4coRSAZYSIxgnIlzhZcmLXRR9-DBv1diNG5e6acT33cIWt5Qno-W"

[metadata.event]
room_name = "sophie"

[metadata.interfaces.eno2]
ips = ["10.73.94.3/16"]
#gateway4 = "10.73.0.254"
dhcp = true

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABoPzoC-efeDT21jCbAvLE3IVtCfnJob0EC2IqLEG-80ih_UtEaoDZ2E-7UqUCwrW4SwnknRmK-AgQle_bbbJpUUO-93UgdVgGhVyz7wDPqKr16ehY="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 2
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
devices = [
  "/dev/disk/by-id/nvme-Lexar_SSD_NQ790_4TB_QAE699R002536P220C-part4",
]
