groups = ["debian-buster"]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder3"
encoding.token = "!kee_user:ansible|worker-groups|encoder3"
meta.secret = "!kee_pass:ansible|worker-groups|encoder3-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder3-meta"

[metadata.crs-worker]
autostart_scripts = [
    "recording-scheduler",
    "mount4cut",
    "cut-postprocessor",
]

[metadata.event]
room_name = "Lecture hall (Room 122)"

[metadata.interfaces.eth0]
ips = ["10.73.3.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYjN4gPPKKkywsLJdC9zZItzoy55F_RlJ1TfVBnUQ5uWJemWBTDfgGBbPn4FY6394SyWc805aw_IWietgxQEhhHdLkwWyWi8tWUWk5JViE2K1Cg="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.cam2]
devicenumber = 2
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 3
mode = "1080p50"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam2"
