hostname = "10.73.96.3"
bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!decrypt:encrypt$gAAAAABlK_Nk7Jbaf_4IKFeT4ij_H3S7qcAd6VsWq1KHa5nZKNwmhjSi6eJcMYxbgmuABqvVnSpBrnz4DSwVRABbh2EfxW17R7WH2OAHNiqCfVC8UmtgTtWwOCUJIpz8qC9Z5efSCIEU"
encoding.token = "!decrypt:encrypt$gAAAAABlK_NU3Ht2QfEyn5OSLfY_nUO4NeOI1VF6Xlv-0LvFBHz8X4gEWZVJXknW4-lujFXAqJdANwDP1EfpIBO1xl2jzWPFgm1WlywqtaPLmted1O7LD75vH0x9H34tMi1iTam4UEiW"

[metadata.event]
room_name = "kunsi test"

[metadata.interfaces.eth0]
ips = [
    "10.73.96.3/16",
]
gateway4 = "10.73.0.254"

[metadata.voctomix2]
rev = "27e2c58eaeda59cc021a6596d36fdb1ed28a4ace"

[metadata.voctocore]
#vaapi = true
streaming_auth_key = "!decrypt:encrypt$gAAAAABllVCErJFQ-7e0rDPlHlvooyH9HE93c7uSPca2dCnkRtjY4wt4xA0tbxitWP8OTAULBxvewyPdXbr6LuGABkjcOfIEjZKJRTIG9eNOZ8FyH4EVmHs="

[metadata.voctocore.sources.cam1]
#kind = "test"
devicenumber = 0
mode = "1080p25"

[metadata.voctocore.sources.slides]
kind = "test"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-INTEL_SSDSC2KB960G8_PHYF244001QU960CGN",
    "/dev/disk/by-id/ata-INTEL_SSDSC2KB960G8_PHYF244002AS960CGN",
]
