hostname = "10.73.96.3"
bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker]
autostart_workers = [
    "postencoding",
    "postprocessing",
]

[metadata.crs-worker.secrets]
encoding.secret = "!decrypt:encrypt$gAAAAABmS4R0VdTZSS58MrVJR6YdjDDRv9M6vCQ6BNPvBcuJTVNK-mlyo7qPhEz1vumeA1bQxBWE3_dBNColadARCtjFmuQ7IbDFxxFTsE50Pf2A7eGzXB5Y3ju_TzqKLpycC_Y1QlJx"
encoding.token = "!decrypt:encrypt$gAAAAABmS4Rp6JTMutWQIbbaIlQl6Kkr6ceqmmuElxm4L2E0REjODEjNZKdk3N4Ch6_ncw3YRJ1Fxk4-G0mEdZtcHhDzFoPMBtBgiW5MZ9mdmEWK4695_ylXVPN5RPt1-Ove0RtHEvYA"

[metadata.event]
room_name = "kunsi test"

[metadata.interfaces.eth0]
ips = ["10.73.96.3/16"]
dhcp = true

[metadata.samba]
restrict-to = [
    "172.19.138.0/24", # kunsi home network
    "172.31.152.0/24", # emf
]

[metadata.voctomix2]
rev = "main"

[metadata.voctocore]
should_be_running = false
streaming_auth_key = "!decrypt:encrypt$gAAAAABllVCErJFQ-7e0rDPlHlvooyH9HE93c7uSPca2dCnkRtjY4wt4xA0tbxitWP8OTAULBxvewyPdXbr6LuGABkjcOfIEjZKJRTIG9eNOZ8FyH4EVmHs="
vaapi = true

[metadata.voctocore.sources.cam1]
devicenumber = 0
mode = "1080p25"

[metadata.voctocore.sources.slides]
devicenumber = 1
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-INTEL_SSDSC2KB960G8_PHYF244001QU960CGN",
    "/dev/disk/by-id/ata-INTEL_SSDSC2KB960G8_PHYF244002AS960CGN",
]
