bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder4"
encoding.token = "!kee_user:ansible|worker-groups|encoder4"
meta.secret = "!kee_pass:ansible|worker-groups|encoder4-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder4-meta"

[metadata.event]
room_name = "HfG Blue Saloon"

[metadata.interfaces.eth0]
ips = ["10.73.4.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkOSJp-QhuKBK7z_nzRUB1PvApqUVass_DtnkWLZRnlv0hUr8p-B3UEIFQdGY0PShXDVFX8R4A9LHE5BdBef5RSw5JLtYoato3u-q-4pkdp0rollI="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 5
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"


[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/placeholder",
    "/dev/disk/by-id/placeholder",
]
