bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder1"
encoding.token = "!kee_user:ansible|worker-groups|encoder1"
meta.secret = "!kee_pass:ansible|worker-groups|encoder1-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder1-meta"

[metadata.event]
room_name = "HS 1/2"

[metadata.interfaces.eth0]
ips = ["10.73.1.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkMHUzBwe5QRDWbQU9ryOt4IwUdTTG-a1hNB3LU1SLLCOHnTu9hN912VbJ5dJ02Ke4utPA1nllcO6YAR3YBF2eud-iAm3nmr4sKPps3ExItoHk6xE="

[metadata.voctocore.sources.cam1]
devicenumber = 3
mode = "1080p25"

[metadata.voctocore.sources.cam2]
devicenumber = 2
mode = "1080i50"

#[metadata.voctocore.sources.cam3]
#devicenumber = 5
#mode = "1080p25"

[metadata.voctocore.sources.slides]
devicenumber = 4
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
  "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y304439F",
  "/dev/disk/by-id/nvme-Samsung_SSD_990_PRO_4TB_S7DPNU0Y304449Z",
]
