bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder1"
encoding.token = "!kee_user:ansible|worker-groups|encoder1"
meta.secret = "!kee_pass:ansible|worker-groups|encoder1-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder1-meta"

[metadata.event]
room_name = "Lobby"

[metadata.interfaces.eth0]
ips = ["10.73.1.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctomix2]
rev = "2.2"

[metadata.voctocore]
vaapi = true
streaming_auth_key = "!decrypt:encrypt$gAAAAABkMHUzBwe5QRDWbQU9ryOt4IwUdTTG-a1hNB3LU1SLLCOHnTu9hN912VbJ5dJ02Ke4utPA1nllcO6YAR3YBF2eud-iAm3nmr4sKPps3ExItoHk6xE="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"
[metadata.voctocore.sources.cam2]
devicenumber = 0
mode = "1080p25"

[metadata.voctocore.sources.slides]
devicenumber = 5
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
  "/dev/disk/by-id/ata-WDC_WD40EFPX-68C6CN0_WD-WX12D1485JKU",
  "/dev/disk/by-id/ata-WDC_WD30EFRX-68AX9N0_WD-WMC1T3101789",
]
