groups = ["debian-buster"]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder5"
encoding.token = "!kee_user:ansible|worker-groups|encoder5"
meta.secret = "!kee_pass:ansible|worker-groups|encoder5-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder5-meta"

[metadata.event]
room_name = "Saal F"

[metadata.interfaces.eth0]
ips = ["10.73.5.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYkgCo1Orl_R7yyMpMUhESSGiBvMRZy6J3DXw7PWsS7XDvmYjJktYpwn-pdO_CnHzoxbB1OpBh-MfdPZnt7WTA7Vh7V55KPjGpnj73uCHn6fpu8="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.cam2]
devicenumber = 0
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 5
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

