bundles = ["zfs"]
groups = ["debian-bookworm"]

[metadata.apt.packages.intel-media-va-driver-non-free]
[metadata.apt.packages.i965-va-driver]

[metadata.crs-worker.secrets]
encoding.secret = "!kee_pass:ansible|worker-groups|encoder5"
encoding.token = "!kee_user:ansible|worker-groups|encoder5"
meta.secret = "!kee_pass:ansible|worker-groups|encoder5-meta"
meta.token = "!kee_user:ansible|worker-groups|encoder5-meta"

[metadata.event]
room_name = "HS4 (S2)"

[metadata.systemd-networkd.links.usb0]
macs = ["20:7b:d2:89:2b:5d", "20:7b:d2:b3:7a:38", "20:7b:d2:89:36:63", "20:7b:d2:92:96:d4"]

[metadata.interfaces.usb0]
dhcp = true

[metadata.interfaces.eth0]
ips = ["10.73.5.3/16"]
gateway4 = "10.73.0.254"

[metadata.voctocore]
streaming_auth_key = "!decrypt:encrypt$gAAAAABkNYkgCo1Orl_R7yyMpMUhESSGiBvMRZy6J3DXw7PWsS7XDvmYjJktYpwn-pdO_CnHzoxbB1OpBh-MfdPZnt7WTA7Vh7V55KPjGpnj73uCHn6fpu8="

[metadata.voctocore.sources.cam1]
devicenumber = 1
mode = "1080i50"

[metadata.voctocore.sources.slides]
devicenumber = 5
mode = "1080p25"

[metadata.voctocore.audio.original]
streams = "0+1"
input = "cam1"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
type = "mirror"
devices = [
    "/dev/disk/by-id/ata-ST3000VX000-1ES166_Z500FFRY",
    "/dev/disk/by-id/ata-ST3000NC002-1DY166_Z1F4G4AJ",
]
