bundles = [
    "mqtt-monitoring",
    "releasing_specials",
    "systemd-timers",
]

[metadata]
hostname = "releasing.c3voc.de"

[metadata.mqtt-monitoring]
password = "!decrypt:encrypt$gAAAAABmk8KmZd6RTiomPYjrNyhGtd7zFFUcWVqeQNozzyhBO8cfIzihu5DczdRHy8HCneXgXA2eYNIEXvp_2561HEJzv7qWB5Tdxxt-ySAA8VUuZB4liqm3CO4gwRgBXUZxMnQYpLsx"

[metadata.users.upload]
ssh_pubkeys = [
    # clt-minion1
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDwX37FBj5HY50y8v312MRXuNQPp9wD1ntAQs8OddTjAOGWCOfMFsE6uYQ/ZntcAFN4FrGSPOTpilmcS2cVEgiz+7Bn0BbFh/jvg1l78gMWkfPrmfH/ROSW2rh7DDaFF0hyU0tAB/SCA1c7UeW3Fs4RT934xsuibKEhOf3E3G6CQOUOoJNfmMeFa9dLySkpCpS36RxM8sOrGaexp5EGlZ48uCsMaGIkBMLFHxaFJ7YgtlrSZj3bFBER0U72jFg5c+OwHzlqFJGe3JDXO7JXU7n2nfcooctkypIaT6VPZSNyHR0HHTBVxGdTRjT7df+M56tnBN/+j/dsfxSGDW+KoYAxu45BYlNRrZ/99ToR56/xgZ+Pscscm8nQJB9GMNOg/GULWSlUr8pApLM90aSEV0WImw3+xTopO2jlABDqKn+NXmVKZBDNKaiuIfJdlvAAqzXKnd9VTG5CPeodvcMsQZefgoXKF/n1jozbOk4uw+lBuK9/Wzwxum0i8KpxtnnQ++c=",

    # emf2024, sam_w
    "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBDQdGzwYiallvWXIHgSAf2GOwMJKA8bxPmwyuO+vsd1HwB65hMRPCpKS+FNLIpkrADNnuhGS3xGCGSSuQ+zAu/g=",
    "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBNLrJyUXmiFWb9vhlTWZLYr64IsKut+c9TGqq3/uwPDeF4X0Qb2jzxqXfQcDSztjR09JHbC8BOqfpYYT9LHahIo=",
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOOicoYtzJ3vXSkY7MkriQrfyZ/gP8ONM2OHhO0zi2cl",
    "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGUoi76VYnqsPZ4IjyfNb8NfaaAfcU9iAbARFEfYTuNwxmYUjv+RpCBC1Gqi0YpdONyrWi9XljjAtY92P4jZffQ=",

    # emf2024, jonty
    "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAo4aBVtoDQsSZfZtSptlOgZOlIe5hU07UhNOlljdS/Qian5ATmI8O/1hBkT9X4F/kxgxLDBPvSlWvzDUyrKngdXaBMaDdedAciER929U+x+fWD2FjRvFIu4EU7MXhfspZpUNbLahOZXNq8TcPJvtohScdhiH4xwtffHdiejTCdHV76fRDPQ0HaXE8dDT6byrYMYcDhrU+om3B4NdQ5KEqf3JUJDsYyTgO+Gl6H4EVEauduJSqZtSEnFGHOLyl9SwaiiXRldRiipTGLJ+8v1bxpn9qvlkamB5SbYbdHxXkqy9IVTaKmcsIly10V/iewV027KZbxgChAmOUAGM74tI4lQ==",
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAcsCSGvcV3c7JNdo1QQl5X7kLutyJ70tIE2RxIHRmZC",

    # encoder-osc1
    "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAAEAQCZZMllo3jhTRlfpjnm+m7L9u3YePwlhr8rHG0nmOZpu397kmrQVcR7HLLjQECrcMkMzjjdQO3fxypPJl24QpAf6e/JJzy7cAbbIxj/8u880USYZst03OvyHtPP5uaHVSYU5jK9VYRNXQ9dqla5VJCEtWvksuK9qmlo7u+vTV+vg5yItUJ91XiSLWNmFciTNzM8FxulVGL+dOr8ob53Cuw38Zhe2MzpMexV6RaHFxGngsg71zaLmj909M7vxzXuWp406QYNWNXpk+cNQvKOIvnmGTu2OrxlzQGVUoSQUASbBT2Ng85GBZeUZ91UKvEJ5BZD21zJ+Zu9pmb0CQjNv+6lhqR1sCVZzawLp8xqQwIROZDC2YZYPcuMhwDagp5FPN6i8/2OtQ0lDISZJaK+5jdXo8s868UcCGqjkIQm6YRmYhoj5sOa+np1tXsLJ1ooQ7GMKOkYkdjQhHroV95HsbTjuIzi57/7s1Gt6TB1z1HdUlSav6oRpwocN9dRT+4xee3By5hsPIDZMGlq60Lp7UHS6dugrJWNVB+txUP5bUn58hSeFs1D5cJiNoOvrVFoSEesun3lrxWJrpuH+QvylyEBFHFtAC5TLYWflngBXqAfY2vJVmlaUIMYNOlX32TqKDHPxbMKtzk81/3XTrobXcHCOm3TdDdC6zTs1Oga+pp8WTY8ay+sJXryp2BR42zpz5xpgeavOF5zINeeQ9yWekN6V7iSRpK/kAufkFdWxME2cOlH7RPyxFwVdsxjWTtEXB8Mz2QFGQA23PBqH2IpDyGlio+hiUpZ5rlNNUmDEayoMGLLgHcznAbwOS65UG443zM4CRIgu9Sm6IJeKrq+LCdepm7ETrIEo2paZGFRB/Oi29GfaR6bgpLpAEBmNt42OwUFthsoF+Ry3dghjAHWA2FGCthOwg189Oj/LpTTVkbm7m/ZMjmDbt8q5XQUZJAgr8AXziGfsg0k3zPUsX/TyekkqkVU0JEg/ZjZ29Sq56Qzb9pU9eC8UUBUl4F6ufd+Ub3OPS4rA6rBMNplL46b5cyjNsLAmDSuVhBpuEAtwoQs1UoVvRICGq5I7fNQWaPbEmnv6VGXY5Q0Zh1qoH/4oa/AnxyrIg9YnMHvux3ho43falnUuFAd4WrgJupkhHM1GZ5BlyHYuCAUHi7OWFOOSXalQ9L5kS4Xsb7sPZmAzi0VSl5aHIiHX1ghf28GqKPKJuP5eSZuMPfvZ3cJyUFCpqCqhnHs/73WQHGoO15bIRqiaLepUg8ZcSdwIh/EEGUTp3AJcAMa7YYWvWQOSPdEHz2o3I3A2YG7tlS1G+boJG9vL13r0QEOcF9eWXv0XWyvUvlECcHmFYszWp/bACN3Ctpj"
]
