hostname = "10.73.200.201"
bundles = [
    "netdata",
    "radvd",
    "snmp-temperature-monitoring"
]
groups = ["debian-bullseye"]

[metadata]
external_interface = "ens18"
room_number = 200

[metadata.bird]
static_routes = [
    "10.73.0.0/16",
]

[metadata.generator-s2s]
# pubkey encrypt$gAAAAABl_YPpFCkOL-J4VetjmrCMaq5N1XYJEk4kcQZx22-45F_pW6Ppy8vsYPB88eupqfvHFgngdibJ-KOPnhF9728tgo0JB8GFiWonS_fGZR1vWBT4Zwgw1qpBUKZP4WRkzELcGdb2
peer_pubkey = "!decrypt:encrypt$gAAAAABl_YOCurKJacZUVR-ZrYa_YmmMJVA2N1TRochwDiVv6_-Z9J63Aemdq4PI3VbgGO3Qkbx4aY-vVikvBQYedjEt9sbzCv9z87yQ0tKFhelXfQMlwrI6sLZdAnTN7U9sXPVt2k-a"
privatekey = "!decrypt:encrypt$gAAAAABl_YN2PGo642Q5LfZkrw5yJU4gKoKA5Kkk_xxjzxp4vfD9ScgHyA7-CzXRkHAwM7FIS6S8ArMwovWu_eqyP0owuRfHjvICLUSGxkBHeyTlA91jZuxwpbZ02sjFoLntYeBgD-pq"

[metadata.interfaces.ens18]
ips = [
    "172.17.2.73/23",
    "178.250.162.46/29", # seibert wiesbaden
    "94.45.241.105/24", # c3noc event
    "2001:67c:20a1:2241::105/64", # c3noc event
]
gateway4 = "172.17.2.1"
#gateway4 = "178.250.162.41" # seibert wiesbaden
#gateway4 = "94.45.241.1" # c3noc event
#gateway6 = "2001:67c:20a1:2241::1" # c3noc event
dhcp = false

[metadata.interfaces.ens19]
ips = [
    "10.73.0.254/16",
    "10.73.200.201/16",
    "2001:67c:20a1:3504:10:73:200:201/64",
]

[metadata.isc-dhcp-server.subnets.ens19]
range_lower = "10.73.170.1"
range_higher = "10.73.170.254"
subnet = "10.73.0.0/16"
options.broadcast-address = "10.73.255.255"
options.domain-name-servers = "10.73.0.254"
options.domain-search = "lan.c3voc.de"
options.routers = "10.73.0.254"
options.subnet-mask = "255.255.0.0"

[metadata.radvd.interfaces.ens19]
prefix = "2001:67c:20a1:3504::/64"
rdnss = ["2001:67c:20a1:3504:10:73:200:201"]

[metadata.snmp-temperature-monitoring]
comware5 = [
    "swt-colo.lan.c3voc.de",
]

[[metadata.telegraf.input_plugins.builtin.proxmox]]
api_token = "!decrypt:encrypt$gAAAAABk3jHP-bc7jvJ_Lc-20Dyxa3ZpXTfW60gpwGpfEa23sgL-6Tg_TdV1FYIr6LPzihLd4DTCcsokVtbfZpOINpZ28bBLQWY_qk5QAIQymQx9jbHJQR8HJ0-yzO0LliQTzY2_Qndub-j_0Kv8hC1cyIxvlI3FfkehY0POBnYXN9y3oJcJQQY="
base_url = "https://10.73.200.21:8006/api2/json"
insecure_skip_verify = true
node_name = "fastly"

[[metadata.telegraf.input_plugins.builtin.proxmox]]
api_token = "!decrypt:encrypt$gAAAAABk3jHP-bc7jvJ_Lc-20Dyxa3ZpXTfW60gpwGpfEa23sgL-6Tg_TdV1FYIr6LPzihLd4DTCcsokVtbfZpOINpZ28bBLQWY_qk5QAIQymQx9jbHJQR8HJ0-yzO0LliQTzY2_Qndub-j_0Kv8hC1cyIxvlI3FfkehY0POBnYXN9y3oJcJQQY="
base_url = "https://10.73.200.22:8006/api2/json"
insecure_skip_verify = true
node_name = "cloudflare"

[[metadata.telegraf.input_plugins.builtin.proxmox]]
api_token = "!decrypt:encrypt$gAAAAABk3jHP-bc7jvJ_Lc-20Dyxa3ZpXTfW60gpwGpfEa23sgL-6Tg_TdV1FYIr6LPzihLd4DTCcsokVtbfZpOINpZ28bBLQWY_qk5QAIQymQx9jbHJQR8HJ0-yzO0LliQTzY2_Qndub-j_0Kv8hC1cyIxvlI3FfkehY0POBnYXN9y3oJcJQQY="
base_url = "https://10.73.200.23:8006/api2/json"
insecure_skip_verify = true
node_name = "akamai"

[metadata.unbound-with-knot]
threads = 4
cache_slabs = 4
primary = "!kee_user:ansible|router|knot secret"
primary_secret = "!kee_pass:ansible|router|knot secret"
