hostname = "10.73.7.100"
bundles = [
    "encoder-common",
    "samba",
    "zfs",
]
groups = [
    "crs-workers",
    "debian-bullseye",
    "saal-glt",
]

[metadata.crs-worker]
autostart_scripts = [ "recording-scheduler", "mount4cut", "cut-postprocessor", "postencoding", "postprocessing" ]
token.encoding = "!decrypt:encrypt$gAAAAABkOS_Us1SxDDO0JZGgPQ7g-VMCw792NVYP2-k8wY5okEnlD_OWTePmEIbF6RK0h2tHZ9bRV_ReRPRLH3GPIsDA_49YaRQYoxzTQUkFOkEin9LQDiGsyAFfMtS5bP42Sfc3k8DT"
secret.encoding = "!decrypt:encrypt$gAAAAABkOS_by1-OF4v0BuFqOwofXy4ka7cp5v7UQjxjrvQasQbmx4p4W4ZYPu0GyZwWvIzJdR0gUymexb-2QrzJAMD1fZd3p3BZQmHOlFulwegjXZIyKYo3SsgTnt9NsnSzYqNBNclY"

[metadata.grub.cmdline_linux]
'net.ifnames' = '1'

[metadata.interfaces.eno1]
ips = [
    "10.73.7.100/16",
]
gateway4 = "10.73.0.254"

[metadata.zfs.pools.video.when_creating]
ashift = 12

[[metadata.zfs.pools.video.when_creating.config]]
devices = [
    "/dev/disk/by-id/ata-WDC_WD40EFAX-68JH4N1_WD-WX92DA1LZA99",
]
