---
  - hosts: mixers
    roles:
      - { role: common, tags: ['common'] }
      - { role: monitoring-client, tags: ['monitoring'] }
      - { role: mixer, tags: ['mixer'] }
      - { role: crs-worker, tags: ['crsworker'], when: crs_token is defined and crs_secret is defined }
    vars:
      ssh_allow_voc_password_login: 'yes'
      mixer_user_password: "{{ lookup('keepass', 'ansible/logins/mixer.password') }}"
      user_voc_password:   "{{ lookup('keepass', 'ansible/logins/voc.password') }}"
