#MANAGED BY ANSIBLE

[Unit]
Description = audio-ingest
After = network.target

[Service]
Type = simple
ExecStart = /opt/audio-ingest.sh
ExecStartPost = /bin/bash -c "sleep 3 ; if ( /bin/kill -0 \"$MAINPID\" &> /dev/null ); then /opt/mqtt/alert-running.sh; else /opt/mqtt/alert-failed.sh; fi"
Restart = always
RestartSec = 1s
StartLimitInterval = 0

[Install]
WantedBy = multi-user.target

