XTerm*metaSendsEscape:        true
XTerm.vt100.faceName:         DejaVu Sans Mono:size=18:antialias=false
XTerm*background:             rgb:17/27/27
XTerm*foreground:             rgb:ff/ff/ff
XTerm*pointerColor:           white
XTerm*pointerColorBackground: black
