; This file is used when yate is the registrar server for a remote client


[general]
; This section is special - holds settings common to all users
;
; autocreate: bool: Automatically create entries for registering users
;autocreate=no
;
; auth: int: Priority of the user.auth handler
;auth=100
;
; register: int: Priority of user.register and user.unregister handlers
;register=100
;
; route: int: Priority of the call.route handler
;route=100
;
; file: string. An auxiliary conf file used to save and load from it autocreated and registered entries
; If file don't exists the registered entities will be lost on reload
;file=filename


; you have to put username as a category and password into key password
; if password is missing the module will only register but not authenticate
; if password exists and is empty will blindly authenticate anybody


;[username]
;password=something

; alternatives: list of called party numbers separated by coma
; Note if multiple users share the same party number the call will go to all users.
;alternatives= num1,num2,....
;
; Set/Modify call.route parameters when the caller matches this section
; You can put call.route replacement ${variables} on the right side
; Note: Any parameter except for "password" and "alternatives" will be used for set/modify
;
; Ex:
; Modify caller name
;callername=name
;
; Modify caller number
;caller=number
;
; Replacement example
;callername=John Doe from ${address}
;
;param=value

;-----------VOC----------
[100]
password={{ lookup('keepass', 'ansible/pbx/users/100.password') }}

[101]
password={{ lookup('keepass', 'ansible/pbx/users/101.password') }}

[102]
password={{ lookup('keepass', 'ansible/pbx/users/102.password') }}

[103]
password={{ lookup('keepass', 'ansible/pbx/users/103.password') }}

[104]
password={{ lookup('keepass', 'ansible/pbx/users/104.password') }}

[105]
password={{ lookup('keepass', 'ansible/pbx/users/105.password') }}


;-------- USER ------
;-- derpeter --
[201]
password={{ lookup('keepass', 'ansible/pbx/users/201.password') }}

[202]
password={{ lookup('keepass', 'ansible/pbx/users/202.password') }}

;-- meise ---
[203]
password={{ lookup('keepass', 'ansible/pbx/users/203.password') }}

[204]
password={{ lookup('keepass', 'ansible/pbx/users/204.password') }}

;-- florolf --
[205]
password={{ lookup('keepass', 'ansible/pbx/users/205.password') }}

[206]
password={{ lookup('keepass', 'ansible/pbx/users/206.password') }}

;-- MaZderMind --
[207]
password={{ lookup('keepass', 'ansible/pbx/users/207.password') }}

[208]
password={{ lookup('keepass', 'ansible/pbx/users/208.password') }}

;--- atze --
[209]
password={{ lookup('keepass', 'ansible/pbx/users/208.password') }}

[210]
password={{ lookup('keepass', 'ansible/pbx/users/208.password') }}

;--- danimo --
[211]
password={{ lookup('keepass', 'ansible/pbx/users/211.password') }}

[212]
password={{ lookup('keepass', 'ansible/pbx/users/212.password') }}

;--- bjoern --
[213]
password={{ lookup('keepass', 'ansible/pbx/users/212.password') }}

;--- andi --
[215]
password={{ lookup('keepass', 'ansible/pbx/users/212.password') }}

;--- derchris  --
[218]
password={{ lookup('keepass', 'ansible/pbx/users/218.password') }}

[219]
password={{ lookup('keepass', 'ansible/pbx/users/219.password') }}

;-- Externe --
;-- Bernhard(froscon)
[301]
password={{ lookup('keepass', 'ansible/pbx/users/301.password') }}
