[Unit]
Description=Send MQTT shutdown
After=network.target systemd-hostnamed.service
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/sbin/alert_shutdown.sh
Environment=MY_HOSTNAME=${node.metadata.get('hostname')}
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
