[Unit]
Description=Send MQTT shutdown
After=network.target local-fs.target systemd-hostnamed.service
Wants=network.target
Requires=systemd-hostnamed.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/sbin/alert_shutdown.sh
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
