[Unit]
Description=Send MQTT shutdown
After=network.target local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/local/sbin/check_system.sh shutdown
Environment=TRUNC_HOSTNAME=${node.name}
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
