#!/bin/sh
while true; do cat /opt/voc/share/bgloop.ts || exit 1; done |\
	ffmpeg -y -nostdin -re -i - \
	-map 0:v \
	-c:v rawvideo \
	-pix_fmt yuv420p \
	-f matroska \
	-metadata title="bgloop" \
	tcp://localhost:16000
