#!/bin/sh

systemctl is-active voctomix-recording-sink.service >/dev/null
if [ "0" -eq "$?" ]; then
  message=$(perl /usr/local/bin/check_recording.pl /video/capture/{{ event.acronym }}/)
  error_code=$?

  if [ "2" -eq "$error_code" ]; then
    mosquitto_pub --insecure -h "{{ mqtt.server }}" -u "{{ mqtt.username }}" -P "{{ mqtt.password }}" -t "/voc/alert" -m "{\"level\":\"warn\",\"component\":\"recording/{{ ansible_hostname }}\",\"msg\":\"<red>${message}</red> /video/capture/{{ event.acronym }}/\"}"
  fi
fi

exit $?
