#!/bin/sh
ffmpeg \
	-i tcp://localhost:{% if item[0] == 'stream' %}15000{% elif item[0] == 'program' %}11000{% elif item[0] == 'grabber' %}{{ number_cameras | int + 13000 }}{% endif %} \
	-c:v rawvideo -c:a pcm_s16le \
	-pix_fmt uyvy422 \
	-f decklink '{{ item[1] }}'
