#!/bin/sh
ffmpeg -y -nostdin \
	-f decklink \
	-i '{{ item.1 }}@{{ decklink_formats.results[ item.0 ].stdout }}' \
	-c:v rawvideo -c:a pcm_s16le \
	-pix_fmt yuv420p \
	-f matroska \
	-metadata title="{{ item.1 }}" \
	tcp://localhost:{{ item.0 + 10000 }}
