---
  - name: install dependency packages
    apt: name={{ item }} state=latest
    with_items:
     - libconfig-inifiles-perl
     - libipc-run-perl
     - libxml-rpc-fast-perl
     - libxml-simple-perl
     - libmath-round-perl
     - libdatetime-perl
     - libboolean-perl
     - libwww-curl-perl
     - libjson-perl
     - fuse-vdv
     - fuse
     - cifs-utils
     - ntfs-3g

  - name: create /opt/crs/tools
    file: dest=/opt/crs/tools state=directory

  - name: create /opt/crs/tmp
    file: dest=/opt/crs/tmp state=directory

  - name: create /opt/crs/fuse
    file: dest=/opt/crs/fuse state=directory

  - name: checkout tools/tracker3.0
    subversion: repo=http://subversion.fem.tu-ilmenau.de/repository/cccongress/trunk/tools/tracker3.0/
                dest=/opt/crs/tools/tracker3.0
    tags:
      - checkout
      - pull

  - name: checkout tools/job-control/
    subversion: repo=http://subversion.fem.tu-ilmenau.de/repository/cccongress/trunk/tools/job-control/
                dest=/opt/crs/tools/job-control
    tags:
      - checkout
      - pull

  - name: create worker profile
    template: dest=/opt/crs/tools/tracker3.0/tracker-profile.sh
              src=tracker-profile.sh.j2
              mode=0644 owner=root group=root
