<%
    from ipaddress import ip_network
%>\
[Match]
Name=${interface}

% for addr in sorted(config.get('ips', set())):
[Address]
<%
    if '/' in addr:
        ip, prefix = addr.split('/')
    else:
        ip = addr
        prefix = '32'
%>\
Address=${ip}/${prefix}

% endfor
% for route, rconfig in sorted(config.get('routes', {}).items()):
[Route]
%   if 'via' in rconfig:
Gateway=${rconfig['via']}
%   endif
Destination=${route}
GatewayOnlink=yes

% endfor
% if not config.get('dhcp', False):
%  if 'gateway4' in config:
[Route]
Gateway=${config['gateway4']}
GatewayOnlink=yes

%  endif
%  if 'gateway6' in config:
[Route]
Gateway=${config['gateway6']}
GatewayOnlink=yes

%  endif
% endif
[Network]
% for vxlan in sorted(config.get('vxlans', set())):
VXLAN=${vxlan}
% endfor
% for vlan in sorted(config.get('vlans', set())):
VLAN=${interface}.${vlan}
% endfor
ConfigureWithoutCarrier=yes

% if config.get('dhcp', False):
DHCP=yes
IPv6AcceptRA=yes

[DHCPv4]
UseDomains=no
UseHostname=no
UseMTU=yes
UseNTP=no
UseTimezone=no
SendHostname=yes
Hostname=${node.metadata.get('hostname')}
% else:
DHCP=no
IPv6AcceptRA=no
% endif

% if config.get('mtu', None):
[Link]
MTUBytes=${config.get('mtu')}
% endif

