name: bw test
on: [ push, pull_request ]

jobs:
  bw_test_dummy_mode:
    name: 'bw test (with dummy mode)'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      # https://github.com/bundlewrap/bundlewrap/commit/5751bf40b44b83a92d89ca33065ee829e7f5db56
      - name: Install Dependencies
        run: pip3 install setuptools -r requirements.txt
        working-directory: bundlewrap
      - name: Run bw test
        run: bw test
        working-directory: bundlewrap
    env:
      BW_VAULT_DUMMY_MODE: '1'
      BW_KEEPASS_DUMMY_MODE: '1'

  bw_test_ignore:
    name: 'bw test -i'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      # https://github.com/bundlewrap/bundlewrap/commit/5751bf40b44b83a92d89ca33065ee829e7f5db56
      - name: Install Dependencies
        run: pip3 install setuptools -r requirements.txt
        working-directory: bundlewrap
      - name: Run bw test
        run: bw test -i
        working-directory: bundlewrap
    env:
      BW_VAULT_DUMMY_MODE: '1'
      BW_KEEPASS_DUMMY_MODE: '1'
