[Unit]
Description=voctomix2 recording-sink
After=voctomix2-voctocore.service
Requires=voctomix2-voctocore.service
ConditionPathIsReadWrite=/video/capture

[Service]
User=voc
Group=voc
Type=simple
ExecStart=/opt/voctomix2/scripts/recording-sink.sh
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=voctomix2-voctocore.service
