[Unit]
Description=voctomix2 streaming-sink
After=voctomix2-voctocore.service
Requires=voctomix2-voctocore.service

[Service]
User=voc
Group=voc
Type=simple
Environment=VOC_STREAMING_AUTH=${auth_key}
ExecStart=/opt/voctomix2/scripts/streaming-sink.sh
Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=voctomix2-voctocore.service
